.header-overlay-container {
  min-width: 16rem;
  background-color: var(--gf-dark-bg);
  border-radius: 0.75rem;
  box-shadow: var(--gf-shadow-lift-sm);
  padding: 0.75rem;
  flex-direction: column;
  gap: 0.75rem;
  z-index: var(--z-overlay);

  height: 160px;
  width: 256px;
}
