<div class="reported-comments-container">
  @for (comment of reportedComments(); track comment.id) {
    <gf-gf-card-comment-preview
      [commentId]="comment.targetId"
      [isReportedComment]="true"
      [reportNumber]="getCommentReportCount(comment.targetId)"
      [reportIndex]="comment.id">
    </gf-gf-card-comment-preview>
  } @empty {
    <p>No comment reports available.</p>
  }

  @if (commenthasMoreResults()) {
    <button (click)="loadMoreComments()" class="btn-show-more">
      Load More
    </button>
  }
</div>
