<div class="post-page">

  <!-- Main Post (Highlight of the page) -->
  <div class="d-grid gf-card-forum-post">
    @if(post(); as post) {
    <app-forum-post [postData]="post"></app-forum-post>
    <!-- Comment Area -->
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <div class="gf-card-comment-area d-flex align-items-center">
        <textarea class="comment-area" placeholder="Join the conversation" minlength="5" maxlength="100" name=""
          formControlName="body" id=""></textarea>
      </div>
      <button type="submit" [disabled]="commentForm.invalid || isSubmitting">
        Comment
      </button>
    </form>
    @if (!comments()) {
    <gf-loading-spinner></gf-loading-spinner>
    } @else if (comments()?.comments?.length == 0) {
    }@else {
    <app-post-comments [comments]="comments()?.comments!"></app-post-comments>
    }

    }
  </div>


  <app-group-settings-popover></app-group-settings-popover>
