/* users-list-card.component.css */

:host {
  display: flex;
  flex-direction: column;
  gap: var(--gf-12);
  padding: var(--gf-12);
  background-color: var(--gf-dark-bg);
  border-radius: var(--gf-12);
  box-shadow: var(--gf-shadow-lift-sm);
}

a {
  display: contents;
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  div {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 var(--gf-12)
  }
}

img {
  height: 64px;
  max-height: 64px;
  width: 64px;
  max-width: 64px;
  border-radius: 100%;
  display: inline;
  object-fit: cover;
}

gf-user-title {
  display: block;
  cursor: hand;

  --user-title-display: block;
  --user-title-font-size: var(--gf-text-sm);
  --user-title-cursor: hand;
}

small {
  font-size: var(--gf-text-xs);
}
