:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  background-color: var(--gf-dark-bg);
  border-radius: var(--gf-12);
  gap: var(--gf-24);
  padding: var(--gf-12);
  box-shadow: var(--gf-shadow-lift-sm);
}

a {
  display: contents;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

img {
  width: 96px;
  min-width: 96px;
  aspect-ratio: 1 / 1;
  border-radius: var(--gf-8);
}

p {
  display: -webkit-box;
  font-size: var(--gf-text-md);
  font-weight: var(--gf-font-medium);
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

small {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: var(--gf-text-xs);
  color: var(--gf-dark-text-muted);
}

.user-stat {
  height: var(--gf-30);
  max-height: var(--gf-30);
  border-radius: var(--gf-16);
  background-color: var(--gf-dark-bg-dark);
}
