:host {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  flex-direction: column;
  gap: var(--gf-6);
  background-color: var(--gf-dark-bg);
  border-radius: var(--gf-12);
  box-shadow: var(--gf-shadow-lift-sm);
}

a {
  display: contents;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

img {
  height: 64px;
  max-height: 64px;
  width: 64px;
  max-width: 64px;
  border-radius: 100%;
}

p {
  font-size: var(--gf-text-xs);
}
