:root {
  --font-main: 'Inter', sans-serif;
  --font-heading: 'Montserrat', sans-serif;

  --dark-bg-dark: oklch(0.1616 0.0109 276.23);
  --dark-bg: oklch(0.2604 0.012 276.58);
  --dark-bg-light: oklch(0.3037 0.0233 276.07);
  --dark-text: oklch(0.9619 0 0);
  --dark-text-muted: oklch(0.7652 0 0);


  --primary: oklch(0.6048 0.2142 262.15);
  --primary-text: oklch(0.6114 0.1743 262.46);
  --secondary: oklch(0.7096 0.186513 13.1188);
  --tertiary: oklch(0.4462 0.0246 276.43);
  --danger: oklch(0.648 0.1874 28.51);
  --warning: oklch(0.8829 0.1633 104.07);
  --success: oklch(0.8359 0.1769 156.76);
  --info: oklch(0.6114 0.1743 262.46);
  --selected: oklch(0.6803 0.1178 218.59);

  --dark-lift-shadow-s: inset 0 1px  2px #ffffff30, inset 0 1px 2px #00000020, inset 0 2px 4px #00000015;
  --dark-lift-shadow-m: inset 0 1px  2px #ffffff50, inset 0 2px 4px #00000020, inset 0 4px 8px #00000010;
  --dark-lift-shadow-l: inset 0 1px  2px #ffffff70, inset 0 4px 6px #00000020, inset 0 6px 10px #00000010;
  --dark-sunk-shadow-s: inset 0 -1px 2px #ffffff20, inset 0 1px 2px #00000030, inset 0 2px 4px #00000025;
  --dark-sunk-shadow-m: inset 0 -1px 2px #ffffff30, inset 0 2px 4px #00000030, inset 0 4px 8px #00000015;
  --dark-sunk-shadow-l: inset 0 -1px 2px #ffffff40, inset 0 4px 6px #00000030, inset 0 6px 10px #00000015;

}

body {
  font-family: var(--font-main), "Times New Roman", sans-serif;

}


  /* ========== */
 /* 1. Headers */
/* ========== */

.main-text-heading {
  font-size: 48px;
}

.main-text-subheading {
  font-size: 24px;
}


  /* ===================== */
 /* 2. Classes para texto */
/* ===================== */

.font-main li > a,
.font-main {font-family: var(--font-main);}

.font-heading span,
.font-heading li > a,
.font-heading {font-family: var(--font-heading);}

/*
 * 2.1. Cores de fundo
*/

.dark-bg-dark {background-color: var(--dark-bg-dark);}
.dark-bg {background-color: var(--dark-bg);}
.dark-bg-light {background-color: var(--dark-bg-light);}

/*
 * 2.2. Cores de texto
*/

.dark-text {color: var(--dark-text);}
.dark-text-muted {color: var(--dark-text-muted);}


/*
 * 2.3. Intensidade do texto (negrito)
*/

.text-slim {font-weight: 400;}
.text-normal {font-weight: normal;}
.text-medium {font-weight: 500;}
.text-bold {font-weight: 700 ;}
.text-gofish {font-weight: 900; font-size: 28px;}

  /* ===========/
 /* 3. Ícones */
/* ========= */


/*
 * 3.1. Ícone Base
*/

.icon,
[class^="icon-"] {
  /*
  * A imagem do ícone é definida com a classe do (3.2.)
  *
  * Definido no <.icon-*>
  */
  background-image: var(--icon-url);
  background-repeat: no-repeat;
  background-position: center;

  /*
  * O tamanho do ícone é definido com a classe do (3.3.)
  *
  * Definido no <.icon-size-*>
  */
  --size:48px;
  width: var(--size);
  height: var(--size);

  /* bg-size pode ser definido à parte se for necessário */
  background-size: var(--size) var(--size);

  /*
  * A cor do ícone é definido na classe do (3.4)
  */

  filter: var(--filter);
}

/*
 * 3.2. Imagens de ícones
*/

.icon-guitar        { --icon-url: url('/assets/images/home/guitar.svg'); }
.icon-map           { --icon-url: url('/assets/images/home/map.svg'); }
.icon-hook          { --icon-url: url('/assets/images/home/hook.svg'); }
.icon-clear         { --icon-url: url('/assets/images/home/clear.svg'); }
.icon-fish          { --icon-url: url('/assets/images/home/fish.svg'); }
.icon-star          { --icon-url: url('/assets/images/home/star.svg'); }
.icon-halfstar      { --icon-url: url('/assets/images/home/star-half.svg'); }
.icon-check         { --icon-url: url('/assets/images/check.svg'); }
.icon-cross         { --icon-url: url('/assets/images/x.svg'); }
.icon-gofish        { --icon-url: url('/assets/images/logo-white-256.png'); }
.icon-search        { --icon-url: url('/assets/images/search.svg'); }
.icon-user          { --icon-url: url('/assets/images/user.svg'); }
.icon-shielduser    { --icon-url: url('/assets/images/shield-user.svg'); }
.icon-atsign        { --icon-url: url('/assets/images/footer/at-sign.svg'); }
.icon-facebook      { --icon-url: url('/assets/images/footer/facebook.svg'); }
.icon-instagram     { --icon-url: url('/assets/images/footer/instagram.svg'); }
.icon-youtube       { --icon-url: url('/assets/images/footer/youtube.svg'); }
.icon-twitter       { --icon-url: url('/assets/images/footer/twitter.svg'); }


/*
 * 3.3. Definição de tamanhos dos ícones
*/

/* Exemplo

  .icon.icon-size-about-table {
    --size: 48px;

    -> (opcional)
    -> Se for different que width e height
    background-size: 70px 70px;
  }

*/


/*
 * Se for acompanhado com outro elemento de texto para o nome
 da aplicação, utilizar a seguinte classe nesse texto:
 * -> text-gofish
*/
.icon-size-gofish-logo {
  --size: 48px;

}


/*
 * 3.4. Cores dos ícones
*/

.icon-white .icon,
.icon-white[class^="icon-"],
.icon-white [class^="icon-"],
.icon.icon-white {
  --filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(266deg) brightness(103%) contrast(101%);

}

.icon-white-muted div.icon,
.icon-white-muted[class^="icon-"],
.icon-white-muted [class^="icon-"],
.icon-white-muted {
  --filter: invert(76%) sepia(1%) saturate(0%) hue-rotate(138deg) brightness(93%) contrast(98%);
}

/*
 * 3.5. Botões
*/

[class^="gf-btn"], [class^="gofish-btn-"],
.gf-btn, .gofish-btn {
  color: var(--dark-text);
  font-size: 14px;
  border-width: 0px;

   /*
   * O padding pode ser definido ao modificar o --gf-btn-padding
  */

  --gf-btn-padding-default: 10px 20px;
  --gf-btn-padding: var(--gf-btn-padding-default);
  padding: var(--gf-btn-padding);


  --gf-btn-bg-default: #333;
  --gf-btn-bg: var(--gf-btn-bg-default);

  background-color: var(--gf-btn-bg);

  /*
   * O box-shadow pode ser definido ao modificar o --gf-btn-box-shadow
  */

  --gf-btn-box-shadow-default: var(--dark-lift-shadow-s);
  --gf-btn-box-shadow: var(--gf-btn-box-shadow-default);

  box-shadow: var(--gf-btn-box-shadow);

  /*
   * O border-radius pode ser definido ao modificar o --gf-btn-border-radius
  */

  --gf-btn-border-radius-default: 20px;
  --gf-btn-border-radius: var(--gf-btn-border-radius-default);

  border-radius: var(--gf-btn-border-radius);

}

[class^="gf-btn"]:active, [class^="gofish-btn"]:active,
.gf-btn:active,
.gofish-btn:active {
  box-shadow: var(--dark-sunk-shadow-l);
  transform: translateY(1px);
}


  /*
   * 3.5.1 Animação antiga dos botões
   */

.gofish-btn-legacy { transition: transform 0.1s, box-shadow 0.1s;}

.gofish-btn-legacy:active {
  box-shadow: 0px 0px 5px #515151;
  transform: translateY(1px);
}

.generic-button-wrapper-s {cursor: pointer;}

.generic-button-wrapper-all > .icon {cursor: pointer;}

.button-wrapper-clickable {cursor: pointer;}

.button-wrapper-clickable:active {box-shadow: var(--dark-sunk-shadow-l);}

  /* ================/
 /* 4. Gofish Card */
/* ============== */

/*
 * 4.1. Gofish Card Base
*/

.gf-card,
.gofish-card,
[class^="gf-card-"],
[class^="gofish-card-"] {
  box-shadow: var(--dark-lift-shadow-m);

  border-radius: 12px;
  border-width: 0px;

  /*
   * A cor do cartão pode ser definida ao modificar o --gf-bg-color
  */
  --gf-bg-color-default:#333;
  --gf-bg-color:var(--gf-bg-color-default);

  background: var(--gf-bg-color);

  /*
  * O padding do cartão pode ser definido numa classe à parte
  * Por exemplo: gf-card-little
  */
  --gofish-card-padding: 24px;
  padding: var(--gofish-card-padding);

  /*
  * - Os seguintes estilos estão no home.component.css
  * icon-box
  * gofish-card-title
  * gofish-card-p
  *
  * - Importar esses estilos se forem necessários para a reutilização
  */
}

/*
 * 4.3. Gofish Little Card
*/

.gf-card-little,
.gofish-card-little {
  --gofish-card-padding: 18px;
}

/*
 * 4.4. Estilos dos elementos OPCIONAIS do gofish-card
*/

  /*
   * 4.4.1. Cartão informativo
  */

.gf-card > .gofish-card-title,
.gofish-card > .gofish-card-title {font-size: 22px;}

.gf-card > .gofish-card-p,
.gofish-card > .gofish-card-p {
  font-size: 20px;
  line-height: normal;
}

    /*
     * 4.4.2. Cartão de avaliações
    */

.gofish-card-little .review-author,
.gf-card-little .review-author {font-size: 18px;}

.gofish-card-little .review-text,
.gf-card-little .review-text {font-size: 19px;}


  /* ====== */
 /* Outros */
/* ====== */

.error-feedback {
  font-size: 0.75rem;
  color: var(--danger);
}

.fixed-map-image-background {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('/assets/images/backgroung-map.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.auth-parent-container {
  background-color: var(--dark-bg);
  box-shadow: var(--dark-lift-shadow-m);
  border-radius: 1.25rem;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem; /* top, right, bottom, left */
}

.container-align-items-center {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
}

.logo-text {
  color: var(--dark-text);
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -0.125rem;
  user-select: none;
}

.form-auth-container {
  width: 20rem;
  max-width: 20rem;
}

.form-divider {
  display: flex;
  margin: 0rem 1rem; /* top & bottom / left & right */
}

.form-divider::before,
.form-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--dark-text-muted);
}

.form-divider::before {
  margin-right: 10px;
}

.form-divider::after {
  margin-left: 10px;
}

.form-divider span {
  color: var(--dark-text-muted);
}

.form-input {
  width: 100%;
  height: 2.5rem;
  background-color: var(--dark-bg-light);
  box-shadow: var(--dark-sunk-shadow-s);
  color: var(--dark-text);
  border: none;
  outline: none;
  border-radius: 0.75rem;
  padding: 0.75rem;
  font-size: 1rem;
  transition: box-shadow .15s ease-in-out;
}
.form-input:focus {
  box-shadow: var(--dark-lift-shadow-s);
}

.form-input-label {
  color: var(--dark-text-muted);
  font-size: 0.75rem;
}

.form-submit-button {
  width: 100%;
  height: 2.5rem;
  box-shadow: var(--dark-lift-shadow-s);
  background-color: var(--primary);
  color: var(--dark-text);
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.35s ease, box-shadow 0.05s ease, transform 0.05s ease;
}
.form-submit-button:disabled {
  background-color: var(--tertiary);
}
.form-submit-button:not(:disabled):active {
  box-shadow: var(--dark-sunk-shadow-s);
}

.form-secondary-button {
  box-shadow: var(--dark-lift-shadow-s);
  background-color: var(--tertiary);
  border: none;
  border-radius: 0.5rem;
}

.gap-4 {
  gap: 0.25rem !important;
}

.gap-8 {
  gap: 0.5rem !important;
}

.gap-12 {
  gap: 0.75rem !important;
}

.gap-16 {
  gap: 1rem !important;
}

.gap-20 {
  gap: 1.25rem !important;
}

.margin-top-12 {
  margin-top: 0.75rem;
}

.text-small-muted {
  color: var(--dark-text-muted);
  font-size: 0.75rem;
}

.vertical-flow {
  display: flex;
  flex-direction: column;
}

.horizontal-flow {
  display: flex;
  flex-direction: row;
}

.align-center-center {
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}
