/* verify-twofa-container.component.css */

.input-box {
  display: block;
  box-shadow: none;
  border: none;
  outline: none;
  color: var(--gf-dark-text);
  background-color: var(--gf-dark-bg-dark);
  font-size: var(--gf-text-sm);
  border-radius: var(--gf-8);
  width: 100%;
  padding: var(--gf-10) 1rem;
  transition: box-shadow 0.2s ease;

  &::placeholder {
    color: var(--gf-dark-text-muted);
    font-size: var(--gf-text-xs);
  }

  &:hover {
    box-shadow: 0 0 0 2px var(--gf-primary);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--gf-primary);
  }
}
