<!-- popup-admin.component.html -->

<!-- @if (isOpen$ | async) { -->
  <!-- <div class="header-dropdown" animate.enter="enter-animation">
    <div class="dropdown-header">
      <span class="dark-text text-medium">Admin</span>
    </div>
    <nav class="dropdown-nav">
      <a routerLink="/admin/users" class="dropdown-item" (click)="close()">
        <div class="icon icon-user icon-size-dropdown"></div>
        <span>Manage Users</span>
      </a>
      <a routerLink="/admin/reports" class="dropdown-item" (click)="close()">
        <div class="icon icon-warn icon-size-dropdown"></div>
        <span>Reports</span>
      </a>
    </nav>
    <button> asdasdsad </button>
  </div> -->
<!-- } -->

<!--
@if (isOpen$) {
  <p>A</p>
}
@else {
  <p>A</p>
}
-->

<!--
<ng-container @if="isOpen$('login'); else closed">
  <div>Login is open!</div>
</ng-container>
-->
