/* flat-header.component.css */
.flat-header {
  height: 80px;
  display: flex;
  align-items: center;
}

.header-items a {
  font-size: 14px;
  letter-spacing: 0.05em;
  text-decoration: none;
  background: linear-gradient(currentColor 0 0) bottom center / var(--underline-width, 0%) 2px no-repeat;
  transition: background-size 0.2s;
}

.header-items a:hover {
  --underline-width: 100%;
}

.header-items a.active {
  color: var(--selected);
  background: linear-gradient(currentColor 0 0) bottom center / 100% 2px no-repeat;
}
