
<div class="create-pin-shell" [class.panel]="step !== 'idle'">

  <button *ngIf="step === 'idle'" type="button" (click)="startCreatingPin()">
    Create Pin
  </button>

  <div *ngIf="step === 'chooseLocation'">
    <h3>Escolher localização</h3>

    <button type="button" (click)="chooseCurrentLocation()">Localização atual</button>
    <button type="button" (click)="chooseOnMap()">Escolher no mapa</button>

    <div *ngIf="selectedCoords">
      {{ selectedCoords.longitude | number:'1.6-6' }},
      {{ selectedCoords.latitude | number:'1.6-6' }}
    </div>

    <div style="margin-top: 8px;">
      <button type="button" [disabled]="!selectedCoords" (click)="goToChooseType()">
        Continuar
      </button>
    </div>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <button type="button" (click)="cancelCreatingPin()">Cancelar</button>
  </div>

  <div *ngIf="step === 'chooseType'" class="btn-container">
    <h3>Escolher tipo de Pin</h3>

    <button type="button" (click)="selectTypeAndContinue(PinType.Catch)">Catching</button>
    <button type="button" (click)="selectTypeAndContinue(PinType.Info)">Info</button>
    <button type="button" (click)="selectTypeAndContinue(PinType.Warning)">Warn</button>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

    <div class="footer-btns">
      <button type="button" (click)="backToChooseLocation()">Voltar</button>
      <button type="button" (click)="cancelCreatingPin()">Cancelar</button>
    </div>
  </div>

  <div *ngIf="step === 'fillForm'">
    <h3>Preencher dados</h3>

    <app-catching-pin-form *ngIf="pinType === PinType.Catch" [coords]="selectedCoords!"
      (submitForm)="onCatchingSubmit($event)">
    </app-catching-pin-form>

    <app-info-pin-form *ngIf="pinType === PinType.Info" [coords]="selectedCoords!"
      (submitForm)="onInfoSubmit($event)">
    </app-info-pin-form>

    <app-warn-pin-form *ngIf="pinType === PinType.Warning" [coords]="selectedCoords!"
      (submitForm)="onWarnSubmit($event)">
    </app-warn-pin-form>

    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

    <button type="button" (click)="backToChooseType()">Voltar</button>
    <button type="button" (click)="cancelCreatingPin()">Cancelar</button>
  </div>

</div>
