.gf-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.icon-fish,.icon-warn, .icon-info {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.icon-white {
  color: #ffffff;
}
