<button *ngIf="step === 'idle'" type="button" class="gf-btn" (click)="startCreatingPin()">
  Criar Pin
</button>
@if (step !== 'idle') {
<div class="create-pin-shell panel">

  @if (step === 'chooseLocation') {
  <div class="gf-card">
    <h3>Escolher localização</h3>

    <button type="button" class="gf-btn" (click)="chooseCurrentLocation()">Localização atual</button>
    <button type="button" class="gf-btn" (click)="chooseOnMap()">Escolher no mapa</button>

    @if (selectedCoords) {
    <div>
      <b>Coordenadas Selecionadas:</b>
      {{ selectedCoords.longitude | number:'1.6-6' }},
      {{ selectedCoords.latitude | number:'1.6-6' }}
    </div>
    }
    <div class="footer-btns">
      <button type="button" class="gf-btn" [disabled]="!selectedCoords" (click)="goToChooseType()">Continuar</button>
      <button type="button" class="gf-btn" (click)="cancelCreatingPin()">Cancelar</button>
      @if(errorMessage) {<p class="error">{{ errorMessage }}</p>}
    </div>
  </div>
  }

  @if (step === 'chooseType') {
  <div class="gf-card">
    <h3>Escolher tipo de Pin</h3>
    <button type="button" class="gf-btn" (click)="selectTypeAndContinue(PinType.Catch)">
      <i class="icon-fish icon-white"></i>
      Pin de Caça</button>
    <button type="button" class="gf-btn" (click)="selectTypeAndContinue(PinType.Info)">
      <i class="icon-info icon-white"></i>
      Pin de Informacão</button>
    <button type="button" class="gf-btn" (click)="selectTypeAndContinue(PinType.Warning)">
      <i class="icon-warn icon-white"></i>
      Pin de Aviso</button>

    <div class="footer-btns">
      <button type="button" class="gf-btn" (click)="backToChooseLocation()">Voltar</button>
      <button type="button" class="gf-btn" (click)="cancelCreatingPin()">Cancelar</button>
    </div>

    @if(errorMessage) {<p class="error">{{ errorMessage }}</p>}
  </div>
  }

  @if (step === 'fillForm') {
  <div class="gf-card">
    <header class="horizontal-flow align-center-center" style="justify-content: space-between; width: 100%;">
      <h3>Preencher dados</h3>
      <button class="gf-btn-icon" (click)="cancelCreatingPin()"
        style="background: none; border: none; color: var(--dark-text-muted); cursor: pointer;">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round">
          <path d="M18 6L6 18M6 6l12 12" />
        </svg>
      </button>
    </header>


    @if (pinType === PinType.Catch) {
    <app-catching-pin-form [coords]="selectedCoords!" (submitForm)="onCatchingSubmit($event)">
    </app-catching-pin-form>
    }

    @if (pinType === PinType.Info) {
    <app-info-pin-form [coords]="selectedCoords!" (submitForm)="onInfoSubmit($event)">
    </app-info-pin-form>
    }

    @if (pinType === PinType.Warning) {
    <app-warn-pin-form [coords]="selectedCoords!" (submitForm)="onWarnSubmit($event)">
    </app-warn-pin-form>
    }
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

    <button type="button" (click)="backToChooseType()">Voltar</button>
  </div>
  }
</div>
}
