<div class="modal-backdrop-custom d-flex justify-content-center align-items-center">
  <div class="modal-custom gf-card">

    <form id="catch-modal" [formGroup]="form" (ngSubmit)="onPublish()">

      <!-- Header -->
      <div class="modal-header text-white align-items-center mb-3 justify-content-between">
        <div>
          <h5 class="mb-0 text-bold modal-header-title">Catch Pin Create</h5>
          <p class="mb-0 dark-text-muted modal-header-subtitle">
            Add details about your catch!
          </p>
        </div>

        <button class="gf-btn-icon" (click)="onCancel()"
          style="background: none; border: none; color: var(--gf-dark-text-muted); cursor: pointer;">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round">
            <path d="M18 6L6 18M6 6l12 12" />
          </svg>
        </button>
      </div>
      <!-- Body -->
      <div class="modal-body">

        <!-- Content -->
        <h5 class="text-slim modal-body-section-title mt-3">Content</h5>
        <section class="d-flex flex-column">

          <!-- Upload -->
          <div
            class="modal-body-drag-n-drop d-flex flex-column justify-content-center align-items-center generic-select-wrapper-text"
            (click)="fileInput.click()">
            @if (image) {
            <p class="drag-text mb-0">{{ image.name }}</p>
            } @else {
            <div class="drag-icon mb-3 mt-1"></div>
            <p class="drag-text mb-0">Drag And Drop</p>
            }
          </div>

          <input #fileInput type="file" accept="image/png,image/jpeg" hidden (change)="onImageSelected($event)" />

          @if (form.controls.imageUrl.touched && form.controls.imageUrl.invalid) {
          <p class="text-danger mt-2 mb-0">
            Image is required.
          </p>
          }

          <!-- Description -->
          <textarea id="catchPinDescription" class="modal-body-description dark-bg-dark dark-text"
            placeholder="Add a description..." formControlName="body">
          </textarea>
          <small class="dark-text-muted text-end">
            {{ form.value.body?.length ?? 0 }}/500
          </small>

          @if (form.controls.body.touched && form.controls.body.invalid) {
          <p class="text-danger mt-2 mb-0">
            @if (form.controls.body.errors?.['required']) {
            Description is required.
            }
            @if (form.controls.body.errors?.['minlength']) {
            Description must have at least 10 characters.
            }
            @if (form.controls.body.errors?.['maxlength']) {
            Description cannot exceed 500 characters.
            }
          </p>
          }

        </section>

        <!-- Options -->
        <h5 class="text-slim modal-body-section-title mt-3">Options</h5>
        <section class="d-flex flex-column">

          <!-- Geolocation -->
          <div class="options-line d-flex align-items-center justify-content-between dark-text-muted">
            <h5 class="modal-body-options-text text-slim mb-0">Geolocation</h5>
            <div class="d-flex align-items-center gap-1 coords-div">
              <p>Lat: </p>
              <p class="mb-0 dark-bg-dark modal-info-box">{{ (selectedCoords?.latitude | number: '1.5') ?? '-' }}</p>
              <p>Lng: </p>
              <p class="mb-0 dark-bg-dark modal-info-box">{{ (selectedCoords?.longitude | number: '1.5') ?? '-'}}</p>
            </div>
          </div>

          <!-- Visibility -->
          <div class="options-line d-flex align-items-center justify-content-between dark-text-muted">
            <h5 class="modal-body-options-text text-slim mb-0">Visibility</h5>
            <div class="d-flex align-items-center gap-1 radio-group-container">
              @for (option of visibilityOptions; track option.value) {
              <div class="visibility-option">
                <input type="radio" class="d-none" [id]="'vis-' + option.value" [value]="option.value"
                  formControlName="visibility">

                <label [for]="'vis-' + option.value" class="modal-visibility-btn"
                  [class.active]="form.controls.visibility.value === option.value">
                  {{ option.label }}
                </label>
              </div>
              }
            </div>
          </div>
          @if (form.controls.visibility.value === 2) {
          <div class="options-line groups-line d-flex align-items-start justify-content-between dark-text-muted">
            <h5 class="modal-body-options-text text-slim mb-0 pt-2">Groups</h5>
            <div class="groups-selector flex-column">
              @for (group of userGroups(); track group.id) {
              <label class="group-chip" [class.selected]="selectedGroupIds().includes(group.id)">
                <input type="checkbox" class="d-none" [checked]="selectedGroupIds().includes(group.id)"
                  (change)="toggleGroup(group.id)" class="group-chip-image">
                <img [src]="group.imageUrl" class="group-chip-image">
                <span>{{ group.name }}</span>
              </label>
              }
            </div>
          </div>
          }
          <!-- Species -->
          <div class="options-line d-flex align-items-center justify-content-between dark-text-muted mb-3">
            <h5 class="modal-body-options-text text-slim mb-0">Species</h5>
            <div class="d-flex align-items-center">
              <select class="form-select form-select-sm custom-dropdown" formControlName="species">
                @for (option of speciesOptions; track option.value) {
                <option [value]="option.value">{{ option.label }}</option>
                }
              </select>
            </div>
          </div>

          <!-- Bait -->
          <div class="options-line d-flex align-items-center justify-content-between dark-text-muted">
            <h5 class="modal-body-options-text text-slim mb-0">Bait</h5>
            <div class="d-flex align-items-center">
              <select class="form-select form-select-sm custom-dropdown" formControlName="bait">
                @for (option of baitOptions; track option.value) {
                <option [value]="option.value">{{ option.label }}</option>
                }
              </select>
            </div>
          </div>

          <!-- Hook Size -->
          <div class="options-line d-flex align-items-center justify-content-between dark-text-muted">
            <h5 class="modal-body-options-text text-slim mb-0">Hook Size</h5>
            <input type="text" class="dark-bg-dark dark-text modal-info-box" placeholder="ex: 2/0"
              formControlName="hook" />
          </div>

        </section>

        <!-- Error -->
        @if (errorMessage) {
        <p class="text-danger mt-2 mb-0">{{ errorMessage }}</p>
        }

      </div>

      <!-- Footer -->
      <div class="modal-footer mt-2 action-btns">
        <button type="button" class="btn btn-secondary" (click)="onCancel()">
          Cancel
        </button>

        <app-async-button type="submit" form="catch-modal" labels="Publish"
          [state]="busyState.isBusy() ? 'busy' : 'idle'" />
      </div>

    </form>

  </div>
</div>
