<!-- verify-email-modal.component.html -->

<div class="gf-modal-backdrop" (click)="$event.stopPropagation()">
  <div class="gf-modal-shell" (click)="$event.stopPropagation()">

    <div class="title-container">
      <h5 class="title">Verify email</h5>
      <button class="gf-modal-close-button" (click)="onNegative()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
      </button>
    </div>

    <div class="gf-modal-separator-no-margin-legacy"></div>

    @if (sendEmail.isLoading()) {
      <div class="body-container">
        <gf-loading-spinner class="gf-loading-spinner-icon"></gf-loading-spinner>
      </div>
    } @else if (sendEmail.error()) {
      <!-- @let error = securityInfo.error()!; -->
      <div class="error-container">
        <p>An error occured while loading necessary information. Please try again later.</p>
      </div>
    } @else if (sendEmail.hasValue()) {
      <div class="body-container">
        <small class="information">We have sent you an email to <span class="email-highlight">{{authService.userEmail()}}</span> to confirm the validity of your e-mail address. After receiving the e-mail with a special code, enter it on the box below.</small>
        <br><br>
        <form id="form" class="gf-flow-vertical gf-modal-inputs-form" [formGroup]="confirmEmailFormController.form" (ngSubmit)="onPositive()">
          <div class="vertical-flow">
            <label>Code</label>
            <input class="input-box" type="text" appNumbersOnly placeholder="Enter the code here" formControlName="code">
          </div>
        </form>
        @if (confirmEmailFormController.getFirstError(); as errorText) {
          <small class="gf-text-error">{{ errorText }}</small>
        }
      </div>
    } @else {

    }

    <div class="gf-modal-separator-no-margin-legacy"></div>

    <div class="bottom-container gf-flow-horizontal gf-gap-8">
      <button
        class="gf-2btn-secondary-stroked"
        [disabled]="busyState.busy()"
        (click)="onNegative()">
        Cancel
      </button>
      <button
        class="gf-async-btn-primary-filled"
        gfAsyncBtn
        (click)="onVerifyEmail()"
        [disabled]="sendEmail.isLoading()"
        [labels]="{ idle: 'Verify' }"
        [states]="{ busy: busyState.isBusy() }">
      </button>
    </div>

  </div>
</div>
