<!-- flyout-header.component.html -->

<header class="overlay-header position-absolute d-flex justify-content-between">
  <!-- Left: logo plus nav items -->
  <div class="left d-flex flex-row align-items-center">
    <!-- Logo -->
    <div>
      <a routerLink="/" class="d-flex align-items-center text-decoration-none">
        <div class="icon-gofish icon-size-gofish-logo-small"></div>
      </a>
    </div>
    <!-- Nav -->
    <nav class="d-flex flex-rown align-items-center font-main overlay-header-items">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-slim dark-text-muted">HOME</a>
      <a routerLink="/map" routerLinkActive="active" class="text-slim dark-text-muted">MAP</a>
      <a routerLink="/forum" routerLinkActive="active" class="text-slim dark-text-muted">FORUM</a>
      <a routerLink="/about-us" routerLinkActive="active" class="text-slim dark-text-muted">ABOUT US</a>
    </nav>
  </div>
  <!-- Right: toggle menus actions -->
  <div class="right d-flex flex-row align-items-center">
    <app-header-actions></app-header-actions>
  </div>
</header>
