:host {
  display: block;
  margin-top: calc(-80rem / 16); /* Go behind the header */
}

.about-us-main-text {
  font-size: 1.75rem;
  font-weight: 600;
}

.row-font {
  font-size: 1.875rem;
}

.col-font {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 900;
}

.about-hero-bg {
  position: relative;
  padding-top: calc(80rem / 16);
  background: linear-gradient(180deg, #1A2F4C 5%, #2C7AE8 90%);
}

.comparison-section {
  margin: calc(256rem / 16) auto;
}
