<div class="choose-pin-popup-container d-flex flex-column gf-gap-16">

  <!-- Seção de seleção de localização -->
  <div class="d-flex flex-column align-items-center gf-gap-12">

    <!-- Botões de escolha de localização -->
    <div class="d-flex flex-row gf-gap-16 pin-types-showcase justify-content-center">
      <div class="d-flex flex-column align-items-center gf-gap-4 pin-type-item" (click)="onCreateByGeolocation()">
        <button class="pin-img-btn gps-btn"></button>
        <label class="pin-name">Current Location</label>
      </div>
      <div class="d-flex flex-column align-items-center gf-gap-4 pin-type-item" (click)="chooseOnMap()">
        <button class="pin-img-btn map-btn"></button>
        <label class="pin-name">On Map</label>
      </div>
    </div>

    <!-- Coordenadas selecionadas -->
    @if (selectedCoords) {
      <div class="text-center mt-2 animate-fade-in">
        <small class="text-success d-block fw-bold">Success</small>
        <span class="small opacity-75 text-white">
          {{ selectedCoords.latitude | number:'1.4-4' }}, {{ selectedCoords.longitude | number:'1.4-4' }}
        </span>
      </div>
    }

    <!-- Mensagem de erro -->
    @if(errorMessage) {
      <p class="text-danger small mt-1">{{ errorMessage }}</p>
    }

  </div>

  <!-- Seção de tipos de pin -->
  <div class="d-flex flex-row gf-gap-8 pin-types-showcase justify-content-center">
    <div class="d-flex flex-column align-items-center gf-gap-4 pin-type-item" (click)="createWarnPin()">
      <button class="pin-img-btn warn"></button>
      <label class="pin-name">Warning</label>
    </div>

    <div class="d-flex flex-column align-items-center gf-gap-4 pin-type-item" (click)="createInfoPin()">
      <button class="pin-img-btn info"></button>
      <label class="pin-name">Information</label>
    </div>

    <div class="d-flex flex-column align-items-center gf-gap-4 pin-type-item" (click)="createCatchPin()">
      <button class="pin-img-btn catch"></button>
      <label class="pin-name">Catch</label>
    </div>
  </div>

</div>
