:host {
  display: inline-block;
  overflow: hidden;
  background-color: var(--gf-dark-bg);
  border-start-start-radius: var(--gf-12);
  border-start-end-radius: var(--gf-12);
  border-end-start-radius: var(--gf-8);
  border-end-end-radius: var(--gf-12);
  box-shadow: var(--gf-shadow-lift-sm);
}

a {
  display: contents;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

div {
  display: block;
  padding: var(--gf-8);
}

img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

p {
  display: -webkit-box;
  font-size: var(--gf-text-sm);
  font-weight: var(--gf-font-medium);
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

small {
  display: block;
  margin-top: var(--gf-8);
  color: var(--gf-dark-text-muted);
}
