<!-- confirm-modal.component.html -->

<div class="modal-backdrop" (click)="$event.stopPropagation()"> <!-- TODO: Backdrop on app.component.* -->
  <div class="modal-container" role="dialog" aria-modal="true">
    <!-- Header -->
    <div class="modal-header">
      <h5>{{headerText}}</h5>
      <button (click)="onCancel()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 6 6 18"/>
          <path d="m6 6 12 12"/>
        </svg>
      </button>
    </div>
    <div class="separator"></div>
    <!-- Body -->
    <div class="modal-body">
      @if (normalText) {
        <p class="normal">{{normalText}}</p>
      }
      @if (warningText) {
        <p class="warning">{{warningText}}</p>
      }
      @if (requiresPassword || requiresTwoFactor) {
        <form id="form" class="modal-form vertical-flow gf-gap-8" [formGroup]="form" (ngSubmit)="onConfirm()">
          @if (requiresPassword) {
            <div class="vertical-flow">
              <label>Password</label>
              <input type="password" id="password" formControlName="password">
            </div>
          }
          @if (requiresTwoFactor) {
            <div class="vertical-flow">
              <label>Two-Factor Code</label>
              <input type="text" id="twofa" formControlName="twofa" placeholder="Enter 6-digit code" maxlength="6" appNumbersOnly>
            </div>
          }
        </form>
      }
    </div>
    <div class="separator"></div>
    <!-- Actions -->
    <div>
      @if (errorText) {
        <small class="error-text">{{errorText}}</small>
      }
      <div class="modal-actions">
        <button class="btn-secondary" (click)="onCancel()" [disabled]="busyState.isBusy()">
          Cancel
        </button>
        <button class="btn-primary" type="submit" form="form" [disabled]="busyState.isBusy()">
          Confirm
        </button>
      </div>
    </div>
    <!-- Footer -->
    @if (footerText) {
      <div class="modal-bottom">
        <small>{{footerText}}</small>
      </div>
    }
  </div>
</div>
