<!-- profile-actions-popover.component.html -->

@if (!profileContext.isOwner()) {
  @if (profileContext.isFriend()) {
    <button (click)="onUnfriend()">Unfriend</button>
  } @else if (profileContext.isFriendshipPending()) {
    <button (click)="onFriendshipCancel()">Cancel friend request</button>
  }
}

<button (click)="onFriends()">View all friends</button>
<button (click)="onPins()">View all pins</button>
<button (click)="onGroups()">View all groups</button>

@if (profileContext.isOwner()) {
  <button (click)="onFriendRequests()">Go to friend requests</button>
  <button (click)="onGroupInvites()">Go to group invites</button>
} @else if (profileContext.isFriend()) {
  <button (click)="onInviteToGroup()">Invite to group...</button>
}

<button (click)="onShowMore()">See more...</button>
