<!-- profile-actions-popover.component.html -->

@if (!profileContext.viewerIsProfileOwner()) {
  @if (profileContext.viewerIsFriend()) {
    <button (click)="onUnfriend()">Unfriend</button>
  } @else if (profileContext.profileFriendshipIsPending()) {
    <button (click)="onFriendshipCancel()">
      @if (profileContext.profileSentRequest()) {
        Ignore friend request
      } @else {
        Cancel friend request
      }
    </button>
  }
}

<button (click)="onFriends()">View all friends</button>
<button (click)="onPins()">View all pins</button>
<button (click)="onGroups()">View all crews</button>

@if (profileContext.viewerIsProfileOwner()) {
  <button (click)="onFriendRequests()">Go to friendship requests</button>
  <button (click)="onGroupInvites()">Go to crew invites</button>
} @else if (profileContext.viewerIsFriend()) {
  <button (click)="onInviteToGroup()">Invite to group...</button>
}

<button (click)="onShowMore()">See more...</button>
