<!-- profile-actions-popover.component.html -->

@if (profileContext.isFriend()) {
  <button (click)="onUnfriend()">Unfriend</button>
}
@if (profileContext.userProfile().friendship?.state === FriendshipState.Pending) {
  <button (click)="onFriendshipCancel()">Cancel friend request</button>
}
<button (click)="onUnfriend()">View all friends</button>
<button (click)="onPins()">View all pins</button>
<button (click)="onGroups()">View all crews</button>
@if (!profileContext.isOwner()) {
  <button (click)="onInviteToGroup()">Invite to crew...</button>
}
<button (click)="onShowMore()">See more...</button>
