.gf-card-user-card {
  padding: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-photo-username-wrapper {
  gap: 12px;
}

.user-photo {
  width: var(--gf-64);
  height: var(--gf-64);
}

.clickable {
  cursor: pointer;
}
