<app-header></app-header>
<main class="dark-bg figma-bg-dark-temporary font-main">

  <!-- # Descrição -->
  <section class="container dark-text">
    <article class="row justify-content-center about-us-main-text text-center pt-5 mb-5">
      <p class="col-7 ">
        Remember when sharing a great catch was as simple as telling
        the story?
        No algorithms to beat, no posts disappearing into the void. Just anglers swapping tips, photos, and bragging
        rights.
      </p>
      <p class="col-7">
        We built that feeling back, then levelled it up.
        Our platform combines real catches with twitter-style sharing, community-driven scoring, and game-like
        progression that rewards great content, not noise.
        Every post matters. Every catch counts.
      </p>
      <p class="col-7">
        Welcome to GOFISH, re-engineered for the people who actually fish.
        See how we stack up against the rest:
      </p>
    </article>
  </section>

  <!-- # aaaa -->

  <section class="container container-plus dark-text pb-5">
    <!-- Header -->
    <div class="row mb-4 text-center">
      <div class="col-12">
        <h3 class="font-main text-bold mb-4">| How we compare |</h3>
      </div>
    </div>

    <!-- Tabela visual -->
    <div class="comparison-table">

      <!-- Header row -->
      <div class="row comparison-row comparison-header
                  font-main text-center col-font
                  align-items-center mb-3">
        <div class="col-2"></div>
        <span class="col-2">GAMIFIED COMMUNITY</span>
        <span class="col-2">EXAMPLE</span>
        <span class="col-2">EXAMPLE</span>
        <span class="col-2">EXAMPLE</span>
        <span class="col-2">EXAMPLE</span>
      </div>

      <!-- GOFISH -->
      <div class="row comparison-row text-center mb-4 font-heading">

        <div class="col-2 comparison-label d-flex justify-content-center align-items-center gap-3 ">
          <div class="icon icon-size-about-table icon-gofish"></div>
          <span class=" text-gofish row-font-size ">
            GOFISH
          </span>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="icon icon-check icon-white icon-size-about-table "></div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="icon icon-cross icon-white icon-size-about-table"></div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="icon icon-check icon-white icon-size-about-table"></div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="icon icon-check icon-white icon-size-about-table"></div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="icon icon-check icon-white icon-size-about-table"></div>
        </div>
      </div>

      <!-- Others -->
      <div class="row comparison-row align-items-center text-center dark-text font-heading">
        <div class="col-2 comparison-label">
          <span class="text-gofish row-font-size">OTHERS</span>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="icon icon-check icon-white icon-size-about-table icon-cross"></div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="icon icon-check icon-white icon-size-about-table"></div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="icon icon-check icon-white icon-size-about-table icon-cross"></div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="icon icon-check icon-white icon-size-about-table icon-cross"></div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <div class="icon icon-check icon-white icon-size-about-table icon-cross"></div>
        </div>
      </div>

    </div>
  </section>

</main>
