.figma-bg-dark-temporary {background-color: #191919;}

.about-us-main-text {
  font-size: 28px;
  font-weight: 600;
}

.row-font {
  font-size: 30px;
}

.col-font {
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
}
