<div class="gf-card-pin-preview">

  <!-- #region top -->
  <div class="top-wrapper">
    <div class="pin-user-wrapper">

      <img src="assets/images/placeholder_profile_pic.png" class="rounded-circle pin-author-profile-photo">

      <span class="user-name-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, vel impedit aperiam
        cum ipsam ad fugit repudiandae reiciendis vero totam ducimus quia incidunt ab harum quos ex distinctio rerum
        explicabo.</span>

      <span class="separator">•</span>
      <span class="pin-time-ago">9 hours</span>

    </div>

    <div class="badge-wrapper">


      <div class="gf-badge-pin-preview">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-thumbs-up-icon lucide-thumbs-up">
          <path
            d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z" />
          <path d="M7 10v12" />
        </svg>

        <span>33</span>
      </div>

      <div class="gf-badge-pin-preview">

        <!-- #region If is not "reported Pin" (on by default) -->

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-message-circle-icon lucide-message-circle">
          <path
            d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719" />
        </svg>
        <span>33</span>

        <!-- #endregion -->

        <!-- #region If is "reported Pin"
            it is the number of reports this pin has received
        -->
        <!--
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-flag-icon lucide-flag">
        <path
        d="M4 22V4a1 1 0 0 1 .4-.8A6 6 0 0 1 8 2c3 0 5 2 7.333 2q2 0 3.067-.8A1 1 0 0 1 20 4v10a1 1 0 0 1-.4.8A6 6 0 0 1 16 16c-3 0-5-2-8-2a6 6 0 0 0-4 1.528" />
      </svg>
      <span>33</span>
        -->
        <!-- #endregion -->

      </div>

      <button class="gf-badge-pin-preview">

        <!-- #region If is not "reported Pin" (on by default) -->

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-icon lucide-ellipsis">
          <circle cx="12" cy="12" r="1" />
          <circle cx="19" cy="12" r="1" />
          <circle cx="5" cy="12" r="1" />
        </svg>

        <!-- #endregion -->



        <!-- #region If is "reported Pin" -->

        <!--
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-circle-arrow-out-up-right-icon lucide-circle-arrow-out-up-right goto-Pin">
          <path d="M22 12A10 10 0 1 1 12 2" />
          <path d="M22 2 12 12" />
          <path d="M16 2h6v6" />
        </svg>
        <span>Reports</span>

        -->
        <!-- #endregion If "is reported Pin" -->

      </button>



    </div>
  </div>

  <!-- #endregion -->


  <div class="bottom-wrapper">
    <div class="pin-type-extras-wrapper">


      <!--
        if it is from a Catch Pin -> add "catch-pin" css class
        if it is from a Info Pin -> add "info-pin" css class
        if it is from a Warning Pin -> add "warn-pin" css class
      -->
      <div class="d-flex align-items-center gf-badge-pin-type-and-extras catch-pin">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-fishing-hook-icon lucide-fishing-hook">
          <path d="m17.586 11.414-5.93 5.93a1 1 0 0 1-8-8l3.137-3.137a.707.707 0 0 1 1.207.5V10" />
          <path d="M20.414 8.586 22 7" />
          <circle cx="19" cy="10" r="2" />
        </svg>
        <span>Catch</span>

      </div>

      <!--
        Extras are attributes of each type of Pin
        Extras don't have "*-pin" class, but they have their own svg

        * Catch Pin has:
          - Species
          - Bait
          - HookSize
        * Info Pin has:
          - Access Difficulty
          - Seabed
        * Warning Pin has:
          - WarningKind
      -->

      <div class="d-flex align-items-center gf-badge-pin-type-and-extras">

        <!-- svg to be added in the future -->
        <span>Species</span>

      </div>
    </div>

    <!-- if is "report pin"
         - number 1 changes, by default, if it isn't a report Pin, the "report-number" span doesn't appear
    -->
    <span class="text-bold report-number"># 1</span>

  </div>
