/* flat-header.component.css */

.flat-header {
  height: 5rem;
  display: flex;
  align-items: center;
  position: relative;

  & .left {
    padding: 0 0 0 8rem;
    gap: 4rem;
  }

  & .right {
    padding: 0 1.375rem 0 0;
  }
}

.flat-header-items {
  gap: 1.75rem;

  & a {
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
    background: linear-gradient(currentColor 0 0) bottom center / var(--underline-width, 0%) 2px no-repeat;
    transition: background-size 0.2s;

    &:hover {
      --underline-width: 100%;
      color: var(--gf-dark-text);
    }

    &.active {
      color: var(--primary);
      --underline-width: 100%;
    }
  }
}
