<div class="container stats-section-wrapper">

  <!-- #region Quick View -->
  <div class="d-flex align-items-center quick-header-wrapper">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pinned-icon lucide-map-pinned">
      <path d="M18 8c0 3.613-3.869 7.429-5.393 8.795a1 1 0 0 1-1.214 0C9.87 15.429 6 11.613 6 8a6 6 0 0 1 12 0" />
      <circle cx="12" cy="8" r="2" />
      <path
        d="M8.714 14h-3.71a1 1 0 0 0-.948.683l-2.004 6A1 1 0 0 0 3 22h18a1 1 0 0 0 .948-1.316l-2-6a1 1 0 0 0-.949-.684h-3.712" />
    </svg>

    <span class="text-bold">Pin Density by Location</span>
  </div>
  <!-- #endregion -->

  <div class="location-listing">

    <!-- #region Location Listing -->
    <div class="gf-card-location">
      <div class="location-body">


        <!-- Location placement + Name -->
        <div class="location-placement-name-bar-wrapper">
          <div class="placement-name-wrapper">

            <span class="location-placement">1</span>
            <div class="name-bar-wrapper">

              <span class="location-name">Figueira da Foz</span>

              <div class="bar-fill" style="--bg-density-bar: 100%;"></div>
            </div>

          </div>
        </div>

        <div class="gf-tag-total-pins">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin">
            <path
              d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
            <circle cx="12" cy="10" r="3" />
          </svg>


          <span class="number-of-pins">142</span>
          <span class="pins-label">Pins</span>
        </div>

      </div>
    </div>

    <div class="gf-card-location">
      <div class="location-body">


        <!-- Location placement + Name -->
        <div class="location-placement-name-bar-wrapper">
          <div class="placement-name-wrapper">

            <span class="location-placement">2</span>
            <div class="name-bar-wrapper">

              <span class="location-name">Nazaré</span>

              <div class="bar-fill" style="--bg-density-bar: 83%;"></div>
            </div>

          </div>
        </div>

        <div class="gf-tag-total-pins">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin">
            <path
              d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
            <circle cx="12" cy="10" r="3" />
          </svg>


          <span class="number-of-pins">118</span>
          <span class="pins-label">Pins</span>
        </div>

      </div>
    </div>

    <div class="gf-card-location">
      <div class="location-body">


        <!-- Location placement + Name -->
        <div class="location-placement-name-bar-wrapper">
          <div class="placement-name-wrapper">

            <span class="location-placement">3</span>
            <div class="name-bar-wrapper">

              <span class="location-name">Setúbal</span>

              <div class="bar-fill" style="--bg-density-bar: 32%;"></div>
            </div>

          </div>
        </div>

        <div class="gf-tag-total-pins">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin">
            <path
              d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
            <circle cx="12" cy="10" r="3" />
          </svg>


          <span class="number-of-pins">47</span>
          <span class="pins-label">Pins</span>
        </div>

      </div>
    </div>

    <!-- #endregion Location Listing -->
  </div>


</div>
