:host {
  display: flex;
  width: 100%;
}

.stats-section-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quick-header-wrapper {
  max-width: 45%;
  gap: 10px;
  padding-left: 5px;

  & span {
    font-family: var(--gf-font-date);
    font-size: 24px;
  }
  & svg {
    width: 24px;
    height: 24px;
  }
}

.gf-card-location {
  box-shadow: none;
  padding: 0 4px;
}


.location-listing {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.gf-card-location {
  display: flex;

  padding: 14px 0px 14px 12px;
  max-width: 45%;
}

.location-body {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0 14px;
  width: 100%;
}

.location-placement {
  font-size: 18px;

}

.location-placement-name-bar-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  flex: 1;
}

.placement-name-wrapper {
  display: flex;
  gap: 18px;
  align-items: center;
  max-width: 100%;
}

.name-bar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.location-name {
  font-family: var(--gf-font-ugc) !important;
  font-size: 18px;
}

.bar-bg {
  background: lightgray;
  border-radius: 999px;
  height: 8px;
  width: 100%;
}

.bar-fill {
  height: 8px;
  border-radius: 999px;
  background: green;
  /* Adjustable Bar Fill */
  width: var(--bg-density-bar);
}
