/* profile.component.css */

:host {
}

.action-btn {
  border: none;
  height: var(--gf-40);
  min-height: var(--gf-40);
  border-radius: var(--gf-12);
  box-shadow: var(--gf-shadow-lift-sm);
  transition: box-shadow .2s ease, color .2s ease;

  &.btn-ellipsis {
    width: var(--gf-40);
    min-width: var(--gf-40);
    color: var(--gf-dark-text-muted);
    background-color: var(--gf-dark-bg);

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &.btn-edit {
    color: var(--gf-dark-text);
    background-color: var(--gf-dark-bg);
  }

  &:hover {
    color: var(--gf-dark-text);
    box-shadow: var(--gf-shadow-lift-md);
  }
}

app-async-button  {
  --async-btn-height: var(--gf-40);
  --async-btn-max-height: var(--gf-40);
  --async-btn-radius: var(--gf-12);
  --async-btn-padding: 0 var(--gf-32);
}

.user-stat {
  height: var(--gf-30);
  max-height: var(--gf-30);
  border-radius: var(--gf-16);
}

.bio {
  p {
    font-size: var(--gf-text-sm);
    line-height: 1.5em;
    white-space: pre-wrap;
    word-break: break-word;

    &.collapsed {
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  button {
    background: none;
    border: none;
    padding: 0;
    color: var(--gf-primary);
    font-size: var(--gf-text-sm);
    cursor: pointer;
  }
}

.carousel-list {
  display: grid;
  overflow: hidden;
  grid-template-rows: auto;
  grid-auto-rows: 0;
  row-gap: 0;
  column-gap: var(--gf-8);

  &#friends-carousel {
    grid-template-columns: repeat(auto-fill, calc((var(--gf-container-lg) - 7 * var(--gf-8)) / 8));
  }

  &#groups-carousel {
    grid-template-columns: repeat(auto-fill, calc((var(--gf-container-lg) - 6 * var(--gf-8)) / 7));
  }
}

.see-all {
  text-decoration: none;
  color: var(--gf-dark-text-muted);

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    color: var(--gf-dark-text);
  }
}
