<div class="post-page">

  <!-- Main Post -->
  <div class="d-grid gf-card-forum-post">

    @if (post(); as post) {

    <!-- Post -->
    <app-forum-post [postData]="post"></app-forum-post>

    <!-- Comment Form -->
    <form [formGroup]="commentForm" (ngSubmit)="submitComment()">

      <div class="gf-card-comment-area d-flex flex-column">
        <textarea class="comment-area" maxlength="{{ BodyLengthConstraints.MAX }}" placeholder="Join the conversation"
          formControlName="body" rows="3"> </textarea>

        <div class="text-end mt-1">
          <small class="dark-text-muted">
            {{ commentForm.value.body?.length ?? 0 }}/{{ BodyLengthConstraints.MAX }}
          </small>
          @if (commentForm.controls.body.touched && commentForm.controls.body.invalid) {
          <p class="text-danger mt-2 mb-0">
            @if (commentForm.controls.body.errors?.['required']) { Description is required. }
            @if (commentForm.controls.body.errors?.['minlength']) { Must have at least {{ BodyLengthConstraints.MIN }}
            characters. }
            @if (commentForm.controls.body.errors?.['maxlength']) { Cannot exceed {{ BodyLengthConstraints.MAX }}
            characters. }
          </p>
          }
        </div>


      </div>

      <app-async-button type="submit" labels="Publish" [state]="busyState.isBusy() ? 'busy' : 'idle'">
      </app-async-button>

    </form>

    <!-- Comments -->
    <div class="comment-list-section">

      @if (!comments()) {
      <gf-loading-spinner></gf-loading-spinner>

      } @else if (comments()?.comments?.length === 0) {
      <!-- opcional: empty state -->

      } @else {

      <app-post-comments [comments]="comments()?.comments!">
      </app-post-comments>

      @if (hasMoreResults()) {
      <div class="show-more">
        <button type="button" class="show-more-text" (click)="showMore()">
          Show more
        </button>
      </div>
      }

      }

    </div>

    }

  </div>

</div>
