<div class="post-page">

  <!-- Main Post -->
  <div class="d-grid gf-card-forum-post">

    @if (post(); as post) {

    <!-- Post -->
    <app-forum-post [postData]="post"></app-forum-post>

    <!-- Comment Form -->
    <form id="comment-form" [formGroup]="commentForm" (ngSubmit)="submitComment()">
      <div class="gf-card-comment-area d-flex flex-column">
        <textarea class="comment-area" placeholder="Join the conversation" formControlName="body" data-testid="comment-body"></textarea>
        <div class="text-end mt-1">
          <small class="dark-text-muted">
            {{ commentForm.value.body?.length ?? 0 }}/{{ BodyLengthConstraints.MAX }}
          </small>
          @if (commentForm.controls.body.touched && commentForm.controls.body.invalid) {
          <p class="text-danger mt-2 mb-0">
            @if (commentForm.controls.body.errors?.['required']) { Description is required. }
            @if (commentForm.controls.body.errors?.['minlength']) { Must have at least {{ BodyLengthConstraints.MIN }}
            characters. }
            @if (commentForm.controls.body.errors?.['maxlength']) { Cannot exceed {{ BodyLengthConstraints.MAX }}
            characters. }
          </p>
          }
        </div>
      </div>
    </form>

    @if (commentForm.valid) {
      <button
        form="comment-form"
        type="submit"
        class="gf-async-btn-primary-filled"
        gfAsyncBtn
        [labels]="{ idle: 'Publish' }"
        [states]="{ busy: busyState.isBusy() }"
        testId="comment-publish">

      </button>
      <!-- <app-async-button class="publish-btn" form="comment-form" type="submit" labels="Publish" [state]="busyState.isBusy() ? 'busy' : 'idle'" testId="comment-publish"> -->
      <!-- </app-async-button> -->
    }

    <!-- Comments -->
    <div class="comment-list-section" data-testid="comments-list">

      @if (!comments()) {
      <gf-loading-spinner></gf-loading-spinner>

      } @else if (comments()?.comments?.length === 0) {
      <div class="end-message">
        <p>Quiet seas... be the first to cast a line.</p>
      </div>

      } @else {

      <app-post-comments [comments]="comments()?.comments!">
      </app-post-comments>

      @if (hasMoreResults()) {
      <div class="show-more">
        <!-- <button type="button" class="show-more-text" (click)="showMore()">
          Show more
        </button> -->
        <button
          class="gf-async-btn-primary-stroked"
          gfAsyncBtn
          (click)="showMore()"
          [labels]="{ idle: 'Load More' }"
          [states]="{ busy: showMoreBusyState.isBusy() }">
        </button>

      </div>
      } @else {
      <div class="end-message">
        <p>No more tales to tell.</p>
      </div>
      }

      }

    </div>

    }

  </div>

</div>
