
      <!-- MODAL TEST -->


      <div class="modal-backdrop-custom d-flex justify-content-center align-items-center">
        <div class="modal-custom gf-card">

          <!-- Header -->
          <div class="modal-header text-white align-items-center">
            <h5 class="mb-0">What did you catch today?</h5>

            <button class="icon-box ms-auto generic-icon-button-wrapper">
              <div class="icon-close icon-size-pin-modal"></div>
            </button>


          </div>

          <!-- Body -->
          <div class="modal-body">
            <!-- <app-catching-pin-form></app-catching-pin-form> -->
          </div>

          <!-- Footer -->
          <div class="modal-footer">
            <button class="btn btn-secondary">Cancel</button>
            <button class="btn btn-primary">Publish</button>
          </div>

        </div>
      </div>

      <!-- MODAL TEST -->
