<!-- MODAL TEST -->


<div class="modal-backdrop-custom d-flex justify-content-center align-items-center">
  <div class="modal-custom gf-card">

    <!-- Header -->
    <div class="modal-header text-white align-items-center mb-3">
      <h5 class="mb-0 text-bold modal-header-title">What did you catch today?</h5>

      <button class="icon-box ms-auto generic-icon-button-wrapper">
        <div class="icon-close icon-size-pin-modal"></div>
      </button>


    </div>

    <!-- Body -->
    <div class="modal-body">

      <h5 class="text-slim modal-body-section-title mt-3">Content</h5>

      <section class="d-flex flex-column">
        <!-- Drag And Drop (Area) -->
        <div
          class="modal-body-drag-n-drop d-flex flex-column justify-content-center align-items-center generic-select-wrapper-text">

          <div class="drag-icon mb-3 mt-1"></div>

          <p class="drag-text mb-0">
            Drag And Drop
          </p>

        </div>

        <!-- Description -->
        <textarea type="text" name="description" id="catchPinDescription"
          class="modal-body-description dark-bg-dark dark-text"></textarea>

      </section>


      <!-- * -->

      <section>
        <h5 class="text-slim modal-body-section-title mt-3">Options</h5>

        <div class="options-line d-flex align-items-center justify-content-between dark-text-muted">

          <h5 class="modal-body-options-text text-slim mb-0 ms-0">Geolocation</h5>

          <div class="me-0 d-flex align-items-center gap-1">
            <p class="mb-0 dark-bg-dark modal-info-box">38.523214</p>
            <p class="mb-0 dark-bg-dark modal-info-box">-8.898166</p>
          </div>

        </div>

        <div class="options-line d-flex align-items-center justify-content-between dark-text-muted">

          <h5 class="modal-body-options-text text-slim mb-0 ms-0">Visibility</h5>

          <div class="me-0 d-flex align-items-center gap-1">
            <div class="dark-bg-dark modal-info-box">
              <p class="mb-0 selection">AAA</p>
            </div>
            <p class="mb-0 dark-bg-dark modal-info-box">-8.898166</p>
          </div>

          <div class="d-flex align-items-center gap-1">
            <div class="mb-0 dark-bg-dark modal-info-box">
              <p class="aaaaaaaaaaaaa">Public</p>
              <p class="aaaaaaaaaaaaa">Group</p>
              <p class="aaaaaaaaaaaaa">Private</p>
            </div>
          </div>

        </div>

      </section>


    </div>

    <!-- Footer -->
    <div class="modal-footer mt-2">
      <button class="btn btn-secondary">Cancel</button>
      <button class="btn btn-primary">Publish</button>
    </div>

  </div>
</div>

<!-- MODAL TEST -->
