<!-- change-phone-modal.component.html -->

<div class="gf-modal-backdrop" (click)="$event.stopPropagation()">
  <div class="gf-flow-vertical gf-modal-shell gf-gap-16" (click)="$event.stopPropagation()">
    <div class="gf-flow-horizontal gf-justify-between gf-items-center">
      <h5>Change phone number</h5>
      <button class="gf-modal-close-button" (click)="onNegative()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M18 6 6 18"/>
          <path d="m6 6 12 12"/>
        </svg>
      </button>
    </div>
    <div class="gf-modal-separator"></div>
    <div>
      <form id="form" class="gf-flow-vertical gf-modal-inputs-form" [formGroup]="form" (ngSubmit)="onPositive()">
        <div class="vertical-flow">
          <label>Phone number</label>
          <input type="tel" id="phoneNumber" formControlName="phoneNumber">
        </div>
      </form>
      @if (error(); as error) {
        <span class="gf-text-error">{{ error }}</span>
      }
    </div>
    <div class="gf-modal-separator"></div>
    <div>
      <div class="gf-flow-horizontal gf-gap-10">
        <gf-async-button
          class="btn-negative"
          type=button
          [labels]="{ idle: 'Cancel' }"
          [states]="{ disabled: this.busyState.busy() }"
          (click)="onNegative()">
        </gf-async-button>
        <gf-async-button
          class="btn-positive"
          type=button
          [labels]="{ idle: 'Change' }"
          [states]="{ busy: this.busyState.busy(), success: success() }"
          (click)="onPositive()">
        </gf-async-button>
      </div>
    </div>
  </div>
</div>
