<!-- SECÇÃO Main Hero -->
<section class="gf-container-lg gf-mx-auto pt-5 pb-5">
  <div class="row d-flex align-items-center justify-content-around mb-5">

    <!-- PRIMEIRA COLUNA -->
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center text-lg-start">

      <h1 class="dark-text text-bold main-text-heading">Social Map</h1>
      <h4 class="dark-text text-bold main-text-subheading mb-5">For Fishermen By Fishermen</h4>
      <p class="dark-text-muted">
        Register, explore, and share georeferenced captures with the community.
      </p>

      <div class="d-flex justify-content-center justify-content-lg-start gap-3 mt-4">
        <button class="gofish-btn" routerLink="map">Explore Map</button>
        <button class="gofish-btn" routerLink="forum">View Activity</button>
      </div>
    </div>


    <!-- SEGUNDA COLUNA -->
    <div class="col-12 col-lg-6
                      mt-4 mt-md-4 mt-lg-4
                      d-flex justify-content-center justify-content-lg-end">
      <img src="assets/images/backgroung-map.png" alt="background" class="background">
    </div>

  </div>
</section>

<!-- # Cartões com funcionalidades -->

<section class="gf-container-lg gf-mx-auto">
  <div class="row g-5 mt-4 pb-2 pb-md-5 text-center text-md-start">

    <!-- 1º Cartão -->
    <div class="col-12 col-md-12 col-lg-6">
      <div class="gofish-card h-100">
        <!-- Ícone -->
        <div class="icon-box mb-3 mx-auto mx-md-0">
          <div class="icon-guitar icon-white"></div>
        </div>
        <h5 class="font-main title-gofish-card dark-text text-bold mb-3">Fishing Community</h5>
        <p class="font-main p-gofish-card dark-text-muted mb-0 d-flex align-text-bottom">
          A platform dedicated to fishermen in Portugal, with content, locations and practices adapted to the national
          context.
        </p>
      </div>
    </div>

    <!-- 2º Cartão -->
    <div class="col-12 col-md-12 col-lg-6">
      <div class="gofish-card h-100">

        <!-- Ícone -->
        <div class="icon-box mb-3 mx-auto mx-md-0">
          <div class="icon-map icon-white"></div>
        </div>

        <h5 class="font-main title-gofish-card dark-text text-bold mb-3">Collaborative Map</h5>
        <p class="font-main p-gofish-card dark-text-muted mb-0 d-flex align-text-bottom">
          Georeferenced fishing records shared by the community, allowing exploration of real locations and patterns.
        </p>
      </div>
    </div>

    <!-- 3º Cartão -->
    <div class="col-12 col-md-12 col-lg-6">
      <div class="gofish-card h-100">

        <!-- Ícone -->
        <div class="icon-box mb-3 mx-auto mx-md-0">
          <div class="icon-hook icon-white"></div>
        </div>

        <h5 class="font-main title-gofish-card dark-text text-bold mb-3">Register Catches</h5>
        <p class="font-main p-gofish-card dark-text-muted mb-0 d-flex align-text-bottom">
          Upload photos of your captures and share them with the community.
        </p>
      </div>
    </div>

    <!-- 4º Cartão -->
    <div class="col-12 col-md-12 col-lg-6">
      <div class="gofish-card h-100">

        <!-- Ícone -->
        <div class="icon-box mb-3 mx-auto mx-md-0">
          <div class="icon-clear icon-white"></div>
        </div>

        <h5 class="font-main title-gofish-card dark-text text-bold mb-3">Clear interface</h5>
        <p class="font-main p-gofish-card dark-text-muted mb-0 d-flex align-text-bottom">
          Design focused on readability, simple navigation, and efficient.
        </p>
      </div>
    </div>

  </div>
</section>

<!-- # Estatísticas -->

<section class="gf-container-lg gf-mx-auto mb-5">
  <div class="row justify-content-center text-center gy-5 pt-5 icon-white">

    <div class="col-3">
      <div class="stat-card">
        <div class="icon-fish icon-size-statistics"></div>
        <p class="dark-text text-bold stat-value">99M</p>
        <p class="dark-text-muted stat-label">Total number of pins created</p>
      </div>
    </div>

    <div class="col-3">
      <div class="stat-card">
        <div class="icon-fish icon-size-statistics"></div>
        <p class="dark-text text-bold stat-value">99M</p>
        <p class="dark-text-muted stat-label">Shared catches</p>
      </div>
    </div>

    <div class="col-3">
      <div class="stat-card">
        <div class="icon-fish icon-size-statistics"></div>
        <p class="dark-text text-bold stat-value">99M</p>
        <p class="dark-text-muted stat-label">Active alerts in fishing areas</p>
      </div>
    </div>


  </div>
</section>

<!-- # Avaliações -->

<section class="gf-container-lg gf-mx-auto">
  <div class="row justify-content-center">

    <!-- Head -->
    <div class="col-12 text-center dark-text">
      <h1 class="text-bold main-hero-heading">
        Join over 99 million anglers
      </h1>


      <div class="stars-review d-flex justify-content-center mt-4 mb-2 icon-white">
        <div class="icon icon-star icon-size-overall-review"></div>
        <div class="icon icon-star icon-size-overall-review"></div>
        <div class="icon icon-star icon-size-overall-review"></div>
        <div class="icon icon-star icon-size-overall-review"></div>
        <div class="icon icon-halfstar icon-size-overall-review"></div>
      </div>

      <p class="text-bold mb-1">4.5 de 5</p>
      <p class="dark-text-muted">99.9K Reviews</p>
    </div>

    <!-- Reviews -->

    <div class="row justify-content-left g-4 mb-5">

      <!-- Review 1 -->
      <div class="col-12 col-md-6 col-lg-4">
        <!--
            * 3 avaliações na mesma linha:
            col-12 col-md-6 col-lg-4

            * 2 avaliações na mesma linha
            col-12 col-md-6 col-lg-6
          -->

        <div class="gf-card-little">

          <!-- Review Header -->
          <div class="d-flex justify-content-between align-items-center mb-3">

            <span class="review-author font-main dark-text text-slim">Username Here</span>

            <div class="d-flex gap-1 icon-white">
              <div class="icon icon-star icon-size-review"></div>
              <div class="icon icon-star icon-size-review"></div>
              <div class="icon icon-star icon-size-review"></div>
              <div class="icon icon-star icon-size-review"></div>
              <div class="icon icon-halfstar icon-size-review"></div>
            </div>

          </div> <!-- / Review Header -->

          <!-- Review Body -->
          <div class="text-wrap">

            <h5 class="review-title dark-text text-bold mb-3">
              Lorem ipsum dolor
            </h5>

            <p class="review-text dark-text-muted text-medium mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sollicitudin tellus. Curabitur posuere
              dolor eu interdum aliquet. Curabitur fringilla pellentesque eros, in condimentum sem elementum at.
            </p>
          </div>
          <!-- / Review Body -->

        </div>
      </div>
      <!-- / Review 1 -->

      <!-- Review 2 -->
      <div class="col-12 col-md-6 col-lg-4">
        <!--
            * 3 avaliações na mesma linha:
            col-12 col-md-6 col-lg-4

            * 2 avaliações na mesma linha
            col-12 col-md-6 col-lg-6
          -->

        <div class="gf-card-little">

          <!-- Review Header -->
          <div class="d-flex justify-content-between align-items-center mb-3">

            <span class="review-author font-main dark-text text-slim">Username Here</span>

            <div class="d-flex gap-1 icon-white">
              <div class="icon-star icon-size-review"></div>
              <div class="icon-star icon-size-review"></div>
              <div class="icon-star icon-size-review"></div>
              <div class="icon-star icon-size-review"></div>
              <div class="icon-halfstar icon-size-review"></div>
            </div>

          </div> <!-- / Review Header -->

          <!-- Review Body -->
          <div class="text-wrap">

            <h5 class="review-title dark-text text-bold  mb-3">
              Lorem ipsum dolor
            </h5>

            <p class="review-text dark-text-muted text-medium mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sollicitudin tellus. Curabitur posuere
              dolor eu interdum aliquet. Curabitur fringilla pellentesque eros, in condimentum sem elementum at.
            </p>
          </div>
          <!-- / Review Body -->

        </div>
      </div>
      <!-- / Review 2 -->

      <!-- Review 3 -->
      <div class="col-12 col-md-6 col-lg-4">
        <!--
            * 3 avaliações na mesma linha:
            col-12 col-md-6 col-lg-4

            * 2 avaliações na mesma linha
            col-12 col-md-6 col-lg-6
          -->

        <div class="gf-card-little">

          <!-- Review Header -->
          <div class="d-flex justify-content-between align-items-center mb-3">

            <span class="review-author font-main dark-text text-slim">Username Here</span>

            <div class="d-flex gap-1 icon-white">
              <div class="icon-star icon-size-review"></div>
              <div class="icon-star icon-size-review"></div>
              <div class="icon-star icon-size-review"></div>
              <div class="icon-star icon-size-review"></div>
              <div class="icon-halfstar icon-size-review"></div>
            </div>

          </div> <!-- / Review Header -->

          <!-- Review Body -->
          <div class="text-wrap">

            <h5 class="review-title dark-text text-bold mb-3">
              Lorem ipsum dolor
            </h5>

            <p class="review-text dark-text-muted text-medium mb-0 ">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sollicitudin tellus. Curabitur posuere
              dolor eu interdum aliquet. Curabitur fringilla pellentesque eros, in condimentum sem elementum at.
            </p>
          </div>
          <!-- / Review Body -->

        </div>
      </div>
      <!-- / Review 3 -->

    </div>
  </div>

</section>
