<app-flat-header></app-flat-header>

<div class="container">


  <div class="row justify-content-center">

    <div class="col-4">


      <div class="gf-card-forum-post">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel  sollicitudin tellus. Curabitur posuere dolor eu interdum aliquet.  Curabitur fringilla pellentesque eros, in condimentum sem elementum at.  Donec placerat ultrices justo, tincidunt maximus nisl feugiat eu. Sed  porta nulla vel dui euismod scelerisque.
        </p>
      </div>

    </div>

  </div>

</div>
<!--
<div class="aaaaaaa">
   <h3>Discover, from friends, my groups</h3>
</div>

<div class="container">
  <router-outlet></router-outlet>

</div>
-->

<router-outlet></router-outlet>

<app-footer></app-footer>
