.forum-container {
  display:grid;
  grid-template-columns: 1fr 48rem 1fr;
  gap: 0;
  /*
  grid-template-rows: 1fr;
  grid-template-areas: '. . .' ;
  */
}

.forum-container > div {
  display: flex;
  justify-content: center;

}

.forum-nav {
  padding-top: 8rem;
}

.forum-nav a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.forum-feed {

}
