<div class="vertical-flow gf-gap-20">
  <div class="vertical-flow align-center-center">
    <img src="assets/images/logo-white-256.png" width="96" height="96">
    <label class="logo-text">GOFISH</label>
  </div>
  <button class="btn btn-success w-100 rounded-3 form-secondary-button">
    Google
  </button>
  <div class="form-divider align-center-center text-small-muted">
    <span>OR</span>
  </div>
  <form class="form-auth-container vertical-flow gf-gap-8" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="vertical-flow">
      <label class="form-input-label">E-mail / Username</label>
      <input type="text" class="form-input" formControlName="email">
    </div>
    <div class="vertical-flow">
      <label class="form-input-label">Password</label>
      <input type="text" class="form-input" formControlName="password">
    </div>
    <div class="vertical-flow margin-top-12 gf-gap-4">
      @if (hasError()) {
        <div class="error-feedback">
          {{ getError() }}
        </div>
      }
      <button type="submit" class="form-submit-button" [disabled]="isBusy()">
        Sign Up
      </button>
      <div class="text-small-muted">
        Need an account?
        <a routerLink="/user/signup">Sign Up</a>
      </div>
    </div>
  </form>
</div>
