.gf-card-forum-post {
  padding: var(--gf-16);
  max-width: 100%;
  overflow: hidden;
  box-shadow: none;
}

.post-author-profile-photo {
  width: var(--gf-42);
  height: var(--gf-42);
}

.post-author-name {
  font-size: var(--gf-14);
  word-break: break-all;
}

.separator {
  color: var(--gf-dark-text-muted);
  font-size: 12px;
}

.post-date {
  font-size: var(--gf-12);
  font-family: var(--gf-font-date);
  word-break: break-all;
}

/* Post Content */

.post-content> :not(:last-child) {
  margin-bottom: var(--gf-20);
}

.warning-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--gf-16);

  background: var(--gf-dark-bg-dark);

  border-radius: var(--gf-16);
  width: 100%;
  gap: var(--gf-12);
}

.warning-image {
  width: var(--gf-48);
  height: var(--gf-48);
}

.warning-type-text {
  font-size: var(--gf-16);
}

.post-description {
  font-size: var(--gf-16);
  font-family: var(--gf-font-ugc);
}

.description {
  margin: 0;
  width: 100%;
  min-width: 0;

  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.description.expanded {
  display: block;
  overflow: visible;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.post-image-wrapper {
  border-radius: var(--gf-12);
  width: 100%;
  height: 17.875rem;
}

.post-image {
  border-radius: var(--gf-12);
  width: 100%;
  max-height: 100%;

  object-fit: cover;
  cursor: pointer;
}

/* Upvote / Downvote and Comment */

.post-interact-wrapper {
  width: fit-content;
  height: fit-content;

  padding: var(--gf-6) var(--gf-8);
  gap: var(--gf-8);

  border-radius: var(--gf-30);
}

.gf-badge-vote {
  display: flex;
  align-items: center;
  cursor: text;
  color: var(--gf-dark-text-muted);

  &:hover span {
    color: var(--gf-dark-text);
  }

  & svg {
    width: var(--gf-16);
    height: var(--gf-16);
    color: var(--gf-dark-text-muted);
  }

  & button svg {
    color: var(--gf-dark-text-muted);
  }

  & button:hover svg {
    color: var(--gf-dark-text);
  }
}

.post-interact-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.gf-badge-comment {
  color: var(--gf-dark-text-muted);

  &:hover {
    color: var(--gf-dark-text);
  }
}

.icon-upvote {
  transform: rotate(90deg);
}

.icon-downvote {
  transform: rotate(-90deg);
}

/* Comment button */

.post-interact-comment-wrapper {
  cursor: pointer;
}

/*Funciona como se fosse && quando esta sem virgula*/
.active-up .post-icon {
  fill: currentColor;
}

.active-down .post-icon {
  fill: currentColor;
}

.clickable {
  cursor: pointer;
}

.see-more {
  font-family: var(--gf-font-main);
  font-size: var(--gf-16);
  color: var(--gf-primary);

  color: var(--gf-primary);
  --underline-width: 100%;

  background:none;
  border: none;

  text-decoration: underline;
}

.post-description-box.expanded {
  display: block;
  overflow: visible;
  -webkit-line-clamp: unset;
}

.post-description-box {
  margin: 0;
  width: 100%;
  min-width: 0;

  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
