@if(postData(); as post) {


<div class="d-grid gap-3 gf-card-forum-post">

  <!-- Post Header -->

  <div class="top-of-post d-flex justify-content-between align-items-center">

    <div class="d-flex align-items-center gap-2">

      <img src="assets/images/placeholder_profile_pic.png" class="rounded-circle post-author-profile-photo">

      <span class="user-output-no-overflow post-author-name text-bold">{{ post.author?.userName }}</span>
      <span class="post-date dark-text-muted">{{ post.createdAt | timeAgo }}</span>

    </div>

    <div class="d-flex gap-1 post-action-buttons">

      <!-- Delete Post Button -->
      @if (post!.author!.userName == this.userName || isAdmin) {
      <button class="gf-badge">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash2-icon lucide-trash-2">
          <path d="M10 11v6" />
          <path d="M14 11v6" />
          <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
          <path d="M3 6h18" />
          <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
        </svg>
      </button>
      }
      <!-- Report Post Button -->
      <button class="gf-badge">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-flag-icon lucide-flag gf-badge-icon">
          <path
            d="M4 22V4a1 1 0 0 1 .4-.8A6 6 0 0 1 8 2c3 0 5 2 7.333 2q2 0 3.067-.8A1 1 0 0 1 20 4v10a1 1 0 0 1-.4.8A6 6 0 0 1 16 16c-3 0-5-2-8-2a6 6 0 0 0-4 1.528" />
        </svg>
      </button>

      <!-- Location Post Button -->
      <button class="gf-badge" (click)="goToPin()">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <line x1="2" x2="5" y1="12" y2="12" />
          <line x1="19" x2="22" y1="12" y2="12" />
          <line x1="12" x2="12" y1="2" y2="5" />
          <line x1="12" x2="12" y1="19" y2="22" />
          <circle cx="12" cy="12" r="7" />
        </svg>
      </button>

    </div>

  </div>


  <!-- Post Content -->

  <div class="ps-5 post-content">

    <!--  Banner (Pin Type ) -->
    <app-enum class="d-flex gap-3 flex-column" [postData]=post></app-enum>
    <!-- Post Description -->

    <div class="post-description">
      <p class="mb-2">
        {{ post.body }}
      </p>
    </div>
    @if (post.kind === pinKind.CATCH) {
    <div class="post-image-wrapper">
      <img [src]="post.imageUrl" class="post-image">
    </div>
    }
    <!-- Upvote / Downvote / Comment and Share-->
    <div class="d-flex gap-2">

      <div class="gf-badge-vote post-interact-wrapper">

        <!-- Upvote button -->
        <button class="post-interact-btn" [class.active-up]="currentVote() === 1" [disabled]="isVoting()"
          (click)="vote(1)">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-step-back-icon lucide-step-back post-icon icon-upvote">
            <path d="M13.971 4.285A2 2 0 0 1 17 6v12a2 2 0 0 1-3.029 1.715l-9.997-5.998a2 2 0 0 1-.003-3.432z" />
            <path d="M21 20V4" />
          </svg>

        </button>

        <span class="post-stats post-fishing-points">{{ score() }}</span>

        <!-- Downvote button -->
        <button class="post-interact-btn" class="post-interact-btn" [class.active-down]="currentVote() === -1"
          [disabled]="isVoting()" (click)="vote(-1)">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-step-back-icon lucide-step-back post-icon icon-downvote">
            <path d="M13.971 4.285A2 2 0 0 1 17 6v12a2 2 0 0 1-3.029 1.715l-9.997-5.998a2 2 0 0 1-.003-3.432z" />
            <path d="M21 20V4" />
          </svg>

        </button>
      </div>

      <!-- Comment button -->
      <button class="gf-badge-comment post-interact-wrapper post-interact-comment-wrapper" (click)="goToPost()">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-message-circle-icon lucide-message-circle comment-icon">
          <path
            d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719" />
        </svg>

        <span class="post-stats post-fishing-points">{{ post.commentCount }}</span>
      </button>

      <!-- Share button -->
      <button class="gf-badge-comment post-interact-wrapper post-interact-comment-wrapper">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-forward-icon lucide-forward">
          <path d="m15 17 5-5-5-5" />
          <path d="M4 18v-2a4 4 0 0 1 4-4h12" />
        </svg>

        <span class="post-stats post-fishing-points">Share</span>
      </button>
    </div>

  </div>

</div>
}
