/* requests-list.component.css */

.list {
  display: grid;
  overflow: hidden;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, calc((var(--gf-container-lg) - 2 * var(--gf-8)) / 3));
  row-gap: var(--gf-8);
  column-gap: var(--gf-8);
}
