:host {
  display: flex;
  gap: var(--gf-8);
  flex-direction: column;
  width: 100%;
  padding-bottom: var(--gf-8);
}

.group {
  gap: 18px;
}

.group-header-info {
  gap: 18px;
}

/* group-header */

.group-image-name-creator-wrapper {
  gap: 18px;
}

.group-image-wrapper {
  border-radius: var(--gf-12);
}

.group-image {
  border-radius: var(--gf-8);
  width: 96px;
  max-height: 96px;
  cursor: pointer;
}

.group-name-creator {
  font-family: var(--gf-font-main);

  & > .group-name-text {
    font-size: var(--gf-24);
  }

  & > .group-creator-text {
    font-size: var(--gf-16);
  }
}

.gf-badge-group-settings {

  width: var(--gf-30);
  height: var(--gf-30);

  & svg {
    width: var(--gf-20);
    height: var(--gf-20);
  }

}

/* Group Stats */

.group-stats {
  display: flex;
  gap: 6px;
}

.group-description-text {
  font-family: var(--gf-font-main);
  font-size: var(--gf-12);
}

/* Group Listing Tabs */

.gf-card-listing-tabs {
  box-shadow: none;
  border-radius: var(--gf-16) var(--gf-16);
  padding: 0;
}

.listing-tabs {
  font-family: var(--gf-font-main);
  font-size: var(--gf-14);
  flex:1;
  padding: 8px;
  text-decoration: none;
  color: var(--gf-dark-text);
}

.group-forum-feed {
  width: 100%;
}

.group-settings-wrapper {
  position: relative;
}

.active {
  color: var(--gf-primary) !important;
  text-decoration: none;
}

.create-group-wrapper {
  gap: var(--gf-10);
}
.gf-badge-create-group-btn {
  & svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.see-more {
  font-family: var(--gf-font-main);
  font-size: var(--gf-16);
  color: var(--gf-primary);

  color: var(--gf-primary);
  --underline-width: 100%;

  background: none;
  border: none;

  text-decoration: underline;
}

.group-description-box {
  margin: 0;
  width: 100%;
  min-width: 0;

  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}


.group-description-box.expanded {
  display: block;
  overflow: visible;
  -webkit-line-clamp: unset;
}
.listing-tabs.active {
  color: #007bff !important;
}

.gf-card-listing-tabs .listing-tabs.active {
  color: var(--gf-primary) !important;
}
