<!-- header-actions.component.html -->

<div class="header-actions d-flex align-items-center icon-white-muted position-relative">
  <!-- Nav menu (Mobile breakpoint) -->
  <button class="gf-toggle-circle nav-menu-toggle" (click)="onNavClick($event)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M4 5h16"/>
      <path d="M4 12h16"/>
      <path d="M4 19h16"/>
    </svg>
  </button>
  <!-- Search toggle -->
  <button class="gf-toggle-circle">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m21 21-4.34-4.34"/>
      <circle cx="11" cy="11" r="8"/>
    </svg>
  </button>
  <!-- User toggle -->
  @if (authService.isAuthenticated()) {
    <button class="gf-toggle-circle" (click)="onUserClick($event)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
        <circle cx="12" cy="7" r="4"/>
      </svg>
    </button>
  } @else {
    <button class="gf-toggle-cilinder" (click)="onSignInClick($event)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10"/>
        <circle cx="12" cy="10" r="3"/>
        <path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/>
      </svg>
      Sign in
    </button>
  }
  <!-- Admin toggle -->
  @if (authService.isAdmin()) {
    <button class="gf-toggle-circle" (click)="onAdminClick($event)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/>
      </svg>
    </button>
  }
  <!-- Popovers -->
  @switch (popupService.activePopup()) {
  @case (UserPopoverComponent.Key) { <gf-user-popover></gf-user-popover> }
  @case (NavPopoverComponent.Key) { <gf-nav-popover></gf-nav-popover> }
  <!-- @case (UserPopoverComponent.Key) { <gf-user-popover></gf-user-popover> } -->
  }
</div>
