<footer class="vh-100 w-100 dark-bg py-5">

  <div class="container-lg">
    <div class="row">

      <!-- Elementos da esquerda -->
      <div class="col-6">

        <!-- Logotipo -->
        <div class="gofish d-flex align-items-center gap-2 mb-4">
          <div class="icon-gofish icon-size-about-table"></div>
          <span class="dark-text logo-text font-heading">GOFISH</span>
        </div>


          <ul class="footer-links list-unstyled font-main mb-1">
            <li>
              <a routerLink="/about-us">About</a>
            </li>
            <li>
              <a routerLink="/">GitHub</a>
            </li>
            <li>
              <a routerLink="/">Changelog</a>
            </li>
            <li>
              <a routerLink="/">Terms of Service</a>
            </li>
            <li>
              <a routerLink="/">Privacy Policy</a>
            </li>
          </ul>

      </div>

      <div class="col-6 d-flex align-items-end justify-content-end">
        <div class="d-flex socials icon-white">
          <div class="icon-guitar"></div>
          <div class="icon-guitar"></div>
          <div class="icon-guitar"></div>
          <div class="icon-guitar"></div>

        </div>
      </div>

      <!-- TODO:
         * Fazer a parte dos ícones
         * Experimentar refazer o header com list-group para torna-lo responsivo (dúvido)
         * https://getbootstrap.com/docs/5.3/components/list-group/#active-items
         * https://stackblitz.com/run?file=index.html

         * Ver o mockup do Mapa para ver no Header como meter os botões do lado como deve ser (todos os ícones devem estar com intensidade 2 excepto o último que deve estar com intensidade 1.5)
         * Ver msg do PM no Github / E-mail
      -->


    </div>
  </div>

</footer>
