<div class="sidebar-wrapper">

  <aside class="pin-side-panel scroll-container">

    <div class="d-flex align-items-center justify-content-between pin-side-panel-header">
      <span>Catch pins aggregated here:</span>
      <button class="gf-badge-close-sidepanel post-interact-wrapper post-interact-comment-wrapper" (click)=closePanel()>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x">
          <path d="M18 6 6 18" />
          <path d="m6 6 12 12" />
        </svg>
      </button>
    </div>

    @for (pin of pinsData(); track pin.id) {
    <app-pin-detail-panel [pinData]= pin>
    </app-pin-detail-panel>
    }


  </aside>

</div>
