<!-- settings.component.html -->

<app-flat-header></app-flat-header>
<div>
  <!-- Tab navigarion -->
  <nav class="settings-nav-tab">
    <a [routerLink]="[routes.GENERAL]" routerLinkActive="active">General</a>
    <a [routerLink]="[routes.SECURITY]" routerLinkActive="active">Security</a>
    <a [routerLink]="[routes.PERSONAL_DATA]" routerLinkActive="active">Personal Data</a>
    <!-- @for (item of routes; track item.path) {
      <a [routerLink]="item.path" routerLinkActive="active">{{ item.label }}</a>
    } -->
  </nav>
  <!-- Dropdown navigation -->
  <div>
    <select class="settings-nav-select" [value]="foo" (change)="onNavSelectChange($event)">
      <option [value]="0">General</option>
      <option [value]="1">Security</option>
      <option [value]="2">Personal Data</option>
    </select>
  </div>
</div>
<router-outlet></router-outlet>
TODO: Popup a comfirmar (sim nao), se 2fa ativado pede password e codigo
