<!-- header-actions.component.html -->

<div class="header-actions d-flex align-items-center icon-white-muted position-relative">
  <!-- Search toggle -->
  <button class="gf-toggle-circle">
    <div class="icon icon-search icon-size-header"></div>
  </button>
  <!-- User toggle -->
  <button class="gf-toggle-circle" (click)="userPopup.toggle()">
    <div class="icon icon-user icon-size-header"></div>
  </button>
  <!-- Admin toggle -->
  @if (isAdmin) {
    <button class="gf-toggle-circle" (click)="adminPopup.toggle()">
      <div class="icon icon-shielduser icon-size-header"></div>
    </button>
  }
  <!-- Popups -->
  <div class="popups-container">
    <app-popup-admin #adminPopup></app-popup-admin>
    <app-popup-user #userPopup></app-popup-user>
    <!--<app-popup-search #searchPopup></app-popup-search>-->
  </div>
</div>

<!-- Backdrop to close dropdowns -->
<!--
  <div class="dropdown-backdrop" *ngIf="activeDropdown" (click)="closeDropdown()"></div>
-->
