<!-- header-actions.component.html -->

<div class="header-actions d-flex align-items-center icon-white-muted position-relative">
  <!-- Search toggle -->
  <!-- <button class="gf-toggle-circle">
    <div class="icon icon-search icon-size-header"></div>
  </button> -->
  <!-- User toggle -->
  <!-- <button class="gf-toggle-circle" (click)="userPopup.toggle()">
    <div class="icon icon-user icon-size-header"></div>
  </button> -->
  <!-- Admin toggle -->
  <!-- @if (isAdmin) {
    <button class="gf-toggle-circle" (click)="toggleAdmin()">
      <div class="icon icon-shielduser icon-size-header"></div>
    </button>
  } -->
  <!-- Overlays -->
  <!-- <app-popup-admin id="overlay" #adminPopup></app-popup-admin> -->
  <!--<app-popup-user id="overlay" #userPopup></app-popup-user>-->
  <!--@if (isOpenAdmin$ | async) {
    <app-popup-admin id="overlay" animate.enter="enter-animation" #adminPopup2></app-popup-admin>
  }-->

  <!-- @if (isOpenAdmin$ | async) {
    <div class="enter-container" animate.enter="enter-animation">
      <p>The box is entering.</p>
    </div>
  }-->
  <!--<app-popup-search #searchPopup></app-popup-search>-->
</div>

<!-- Backdrop to close dropdowns -->
<!--
  <div class="dropdown-backdrop" *ngIf="activeDropdown" (click)="closeDropdown()"></div>
-->
