<!-- groups-list-card.component.html -->

<a [routerLink]="['/forum/my-crews', group().id]">
  <img [src]="avatarService.resolve(group().avatarUrl)" alt="Avatar">
  <div class="gf-w-100">
    <div class="gf-flow-horizontal gf-items-center gf-gap-24 gf-w-100">
      <p>{{ group().name }}</p>
      <div class="gf-flow-horizontal gf-gap-6">
        <div class="gf-center-axes gf-py-0 gf-px-16 gf-text-xs user-stat">{{ `${group().memberCount} Members` }}</div>
        <div class="gf-center-axes gf-py-0 gf-px-16 gf-text-xs user-stat">{{ `${group().postCount} Posts` }}</div>
      </div>
    </div>
    <small class="gf-mt-6">{{ group().description }}</small>
  </div>
</a>
