/* TODO: Cleanup + remove old unused classes
 * Old classes when removed together, break the Pin Listing
*/

.sidebar-wrapper {
  border-radius: 12px;
  padding: 6px;
  width: 405px;
}

.pin-side-panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.gf-badge-close-sidepanel {
  height: 100%;
  width: 36px;
  height: 36px;
}

/* Post Header */

.gf-card-pin {
  padding: var(--gf-12);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.post-author-profile-photo {
  width: var(--gf-32);
  height: var(--gf-32);
}

.post-author-name {
  font-size: var(--gf-14);
  word-break: break-all;
}

.separator,
.time-ago {
  color: var(--dark-text-muted);
  font-size: 12px;
}

.post-date {
  font-size: var(--gf-12);
  font-family: var(--gf-font-date);
  word-break: break-all;
}

/*temporary*/
.gf-badge,
[class^="gf-badge-"] {
  width: var(--gf-32);
  height: var(--gf-32);
  background: var(--gf-dark-bg-light);
  border: none;

  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.18),
    0px 2px 4px rgba(0, 0, 0, 0.15),
    inset 0px 1px 2px rgba(255, 255, 255, 0.18);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--dark-text);

  & svg {
    width: var(--gf-16);
    height: var(--gf-16);
    color: var(--dark-text-muted);
  }

  &:hover svg {
    color: var(--dark-text);
  }
}

/*temporary*/

/* Post Content */

.post-content> :not(:last-child) {
  margin-bottom: var(--gf-8);
}

.warning-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--gf-16);

  background: var(--gf-dark-bg-dark);

  border-radius: var(--gf-16);
  width: 100%;
  gap: var(--gf-12);
}

.warning-image {
  width: var(--gf-42);
  height: var(--gf-42);
}

.warning-type-text {
  font-size: var(--gf-16);
}

.post-description {
  font-size: var(--gf-12);
  font-family: var(--gf-font-ugc);
  word-break: break-all;
}

.post-image-wrapper {
  border-radius: var(--gf-12);
  width: 100%;
  height: 13.5rem;
}

.post-image {
  border-radius: var(--gf-12);
  width: 100%;
  max-height: 100%;

  object-fit: cover;
  cursor: pointer;
}

/* Upvote / Downvote and Comment */

.post-interact-section {
  gap: 5px;
}

.post-interaction-wrapper {
  width: fit-content;
  height: fit-content;

  padding: var(--gf-6) var(--gf-8);
  gap: var(--gf-8);

  border-radius: var(--gf-30);
}

.gf-badge-vote {
  display: flex;
  align-items: center;
  cursor: text;
  color: var(--dark-text-muted);

  &:hover span {
    color: var(--dark-text);
  }

  & svg {
    width: var(--gf-16);
    height: var(--gf-16);
    color: var(--dark-text-muted);
  }

  & button svg {
    color: var(--dark-text-muted);
  }

  & button:hover svg {
    color: var(--dark-text);
  }

  padding: var(--gf-6) var(--gf-8);
}

.post-interact-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.gf-badge-comment {
  color: var(--dark-text-muted);

  &:hover {
    color: var(--dark-text);
  }
}

.icon-upvote {
  transform: rotate(90deg);
}

.icon-downvote {
  transform: rotate(-90deg);
}

/* Comment button */

.post-interaction-comment-wrapper {
  cursor: pointer;
  height: 100%;
}

/* Go To Post */

.post-view-section {
  gap: 5px;
}


.gf-badge-post-view-button {
  height: 100%;
  width: 36px;
  height: 36px;
}

.pin-preview-click {
  display: flex;
  flex-direction: column;
}

/* Header */
.pin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.pin-author-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pin-avatar {
  background-color: var(--dark-text-muted);
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.pin-meta {
  display: flex;
  align-items: center;
  gap: 4px;
}

.author-name {
  color: var(--dark-text);
  font-weight: 500;
  /* text-medium */
  font-size: 14px;
}

.close-button {
  background: none;
  border: none;
  color: var(--dark-text-muted);
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  transition: opacity 0.2s;
}

.close-button:hover {
  opacity: 0.7;
}

.pin-image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 8px;
}

.pin-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.pin-body {
  padding: 12px 0;
}

.pin-text {
  color: var(--dark-text);
  font-size: 14px;
  margin: 0;
}

.pin-details {
  padding: 0 0 12px 0;
}

.bait-info {
  color: var(--dark-text-muted);
  font-size: 12px;
}

.pin-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.badge-container {
  display: flex;
  gap: 8px;
}

.pin-badge {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 4px 8px;
  border-radius: 4px;
}

.badge-text {
  color: var(--dark-text);
  font-weight: 500;
  font-size: 12px;
}

.scroll-container {
  flex: 1;
  overflow-y: auto;
  /* Ativa o scroll vertical */
  padding: 1rem;

  /* Estilização opcional da scrollbar para combinar com o tema escuro */
  scrollbar-width: thin;
  scrollbar-color: #444 #000;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #000;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 10px;
  border: 2px solid #000;
}


/*Funciona como se fosse && quando esta sem virgula*/
.active-up .post-icon {
  fill: currentColor;
}

.active-down .post-icon {
  fill: currentColor;
}
