.footer-links,
.footer-links li{
  width: fit-content;
}

.footer-links li:not(:last-child) {
  padding-bottom: 10px;
}

.icon-size-socials > [class^="icon-"] {
  --size: 24px;
}

.gf-text-selection > span{
  font-size: 16px;
  text-decoration: none;
  color: var(--gf-dark-text);
}

@media (max-width: 576px) {
  .icon-size-gofish-logo {
    --size: 40px;


  }
}
