<footer class="w-100 dark-bg pt-5 pb-5">

  <div class="container-lg">
    <div class="row">

      <!-- Elementos da esquerda -->
      <div class="col-12 col-sm-6">

        <!-- # Logo and Gofish -->
        <div class="gofish d-flex align-items-center gf-gap-4 gap-lg-2 mb-4">
          <div class="icon-gofish icon-size-gofish-logo"></div>
          <span class="dark-text logo-text">GOFISH</span>
        </div>


        <!-- # Header Items -->

        <ul class="footer-links list-unstyled font-main mb-1">
          <li>
            <a routerLink="/about-us">About</a>
          </li>
          <li>
            <a href="https://github.com/Joao-Barbas/Gofish-Web/tree/main">GitHub</a>
          </li>
          <li>
            <a routerLink="/">Changelog</a>
          </li>
          <li>
            <a routerLink="/terms-of-service">Terms of Service</a>
          </li>
          <li>
            <a routerLink="/">Privacy Policy</a>
          </li>
        </ul>

      </div>

      <!-- # Social Icons -->

      <div class="col-12 col-sm-6 d-flex align-items-end mt-3 mt-sm-0 justify-content-start justify-content-sm-end">

        <div class="d-flex gap-3 icon-white socials icon-size-socials generic-button-wrapper-all">

          <a href="" class="icon-atsign"></a>
          <a href="" class="icon-facebook"></a>
          <a href="" class="icon-instagram"></a>
          <a href="" class="icon-youtube"></a>
          <a href="" class="icon-twitter"></a>

        </div>

      </div>


    </div>
  </div>

</footer>
