<!-- groups-list.component.ts -->

@if (groups.isLoading()) {
  <gf-loading-spinner></gf-loading-spinner>
}
@if (groups.hasValue()) {
  <h4>Group results for <span>{{ query() }}</span></h4>
  <div class="list">
    @for (group of groupsList(); track group.id) {
      <gf-groups-list-card
        [group]="group"
      ></gf-groups-list-card>
    } @empty {
      @if (!groups.isLoading() && !loadingState.isLoading()) {
        <p>{{ 'No results found. :(' }}</p>
      }
    }
  </div>
  @if (groupsHasMore()) {
    <gf-async-button
      [labels]="{ idle: 'Load more', busy: 'Loading...' }"
      [states]="{ busy: busyState.isBusy() }"
      (click)="loadMoreUsers()"
    ></gf-async-button>
  }
}
@if (groups.error()) {
  <div class="failed-container gf-flow-vertical gf-center-axes">
    <span>{{ groups.error() }}</span>
    <button (click)="groups.reload()">Try Again</button>
  </div>
}
