<div class="d-flex align-items-center justify-content-between gf-card-user-card">

  <div class="d-flex align-items-center user-photo-username-wrapper">

    <img src="assets/images/placeholder_profile_pic.png" class="rounded-circle user-photo">

    <div class="d-flex flex-column user-name-handle-name-wrapper">
      <span class="user-name">John Doe</span>
      <span class="user-handle-name">@JohnDoe</span>
    </div>
  </div>

  <button class="gf-badge-user-settings">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-icon lucide-ellipsis">
      <circle cx="12" cy="12" r="1" />
      <circle cx="19" cy="12" r="1" />
      <circle cx="5" cy="12" r="1" />
    </svg>

  </button>

</div>

