.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--gf-16);

  background: var(--gf-dark-bg-dark);

  border-radius: var(--gf-16);
  width: 100%;
  gap: var(--gf-12);
}

.image {
  width: var(--gf-42);
  height: var(--gf-42);
  /** filter: brightness(0) invert(1);  Put color of svg in white*/
}

.type-text {
  font-size: var(--gf-16);
}

.gf-badge-pin-type-and-extras {
  gap: 4px;

  padding: 4px 16px;

  width: fit-content;
  height: 100%;
  border-radius: 16px;

  background-color: var(--gf-dark-bg-dark);

  &.catch-pin {
    background-color: var(--gf-dark-bg-catch-pin);
  }

  &.info-pin {
    background-color: var(--gf-dark-bg-info-pin);
  }

  &.warning-pin {
    background-color: var(--gf-dark-bg-warning-pin);
  }

  & svg {
    width: 20px;
    height: 20px;
  }

  & span {
    font-size: 12px;
  }
}

.report-number {
  font-size: 24px;
}
