.stat-container {
  background-color: var(--gf-dark-bg-dark);
}

.stats-section-wrapper {
  padding: 20px;
}

.stats-header-title {
  text-transform: uppercase;
  font-family: var(--gf-font-heading);
  font-size: 36px;
}

.quick-wrapper {
  padding: 25px 20px 0 20px;
}
