<app-flat-header></app-flat-header>

<div class="stat-container">

  <div class="container stats-page-wrapper">


    <div class="d-flex flex-column quick-view-wrapper">
      <span class="text-bold stats-page-title">Statistics</span>

      <div class="d-flex align-items-center quick-access-title">

        <div class="d-flex align-content-center justify-content-center quick-access-title-icon">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye">
            <path
              d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
            <circle cx="12" cy="12" r="3" />
          </svg>

        </div>

        <span class="text-bold quick-access-title-text">
          Quick View
        </span>

      </div>

      <div class="d-flex align-items-start quick-view-items-wrapper">

        <!-- * system requests -->
        <div class="d-flex flex-column align-items-center justify-content-start quick-view-item system-requests">
          <div class="d-flex quick-view-item-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-hard-drive-download-icon lucide-hard-drive-download">
              <path d="M12 2v8" />
              <path d="m16 6-4 4-4-4" />
              <rect width="20" height="8" x="2" y="14" rx="2" />
              <path d="M6 18h.01" />
              <path d="M10 18h.01" />
            </svg>
          </div>

          <div class="d-flex flex-column  align-items-center metric-text-wrapper">

            <span class="d-flex text-medium metric-big-text">
              99%
            </span>

            <span class="d-flex  text-bold metric-text">
              of system requests were successful
            </span>
          </div>


        </div>

        <!-- * User Satisfaction Index -->
        <div
          class="d-flex flex-column align-items-center justify-content-start quick-view-item user-satisfaction-index">
          <div class="d-flex quick-view-item-icon user-satisfaction-index">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-smile-icon lucide-smile">
              <circle cx="12" cy="12" r="10" />
              <path d="M8 14s1.5 2 4 2 4-2 4-2" />
              <line x1="9" x2="9.01" y1="9" y2="9" />
              <line x1="15" x2="15.01" y1="9" y2="9" />
            </svg>
          </div>

          <div class="d-flex flex-column  align-items-center metric-text-wrapper">

            <span class="d-flex text-medium metric-big-text">
              4.5
            </span>

            <span class="d-flex  text-bold metric-text">
              User Satisfaction Index
            </span>
          </div>


        </div>

        <!-- * +15 Positive Votes -->
        <div class="d-flex flex-column align-items-center justify-content-start quick-view-item positive-votes">
          <div class="d-flex quick-view-item-icon user-satisfaction-index">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-thumbs-up-icon lucide-thumbs-up">
              <path
                d="M15 5.88 14 10h5.83a2 2 0 0 1 1.92 2.56l-2.33 8A2 2 0 0 1 17.5 22H4a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2h2.76a2 2 0 0 0 1.79-1.11L12 2a3.13 3.13 0 0 1 3 3.88Z" />
              <path d="M7 10v12" />
            </svg>
          </div>

          <div class="d-flex flex-column  align-items-center metric-text-wrapper">

            <span class="d-flex text-medium metric-big-text">
              105
            </span>

            <span class="d-flex text-bold metric-text">
              Pins with 15+ Positive Votes
            </span>
          </div>


        </div>

        <!-- * Pins created today -->
        <div class="d-flex flex-column align-items-center justify-content-start quick-view-item pins-created-today">
          <div class="d-flex quick-view-item-icon user-satisfaction-index">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-map-pin-icon lucide-map-pin">
              <path
                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
              <circle cx="12" cy="10" r="3" />
            </svg>
          </div>

          <div class="d-flex flex-column  align-items-center metric-text-wrapper">

            <span class="d-flex text-medium metric-big-text">
              11
            </span>

            <span class="d-flex text-bold metric-text">
              Pins Created Today
            </span>
          </div>


        </div>

        <!-- * Active Users -->
        <div class="d-flex flex-column align-items-center justify-content-start quick-view-item active-users">
          <div class="d-flex quick-view-item-icon user-satisfaction-index">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-user-icon lucide-user">
              <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
              <circle cx="12" cy="7" r="4" />
            </svg>
          </div>

          <div class="d-flex flex-column  align-items-center metric-text-wrapper">

            <span class="d-flex text-medium metric-big-text">
              11
            </span>

            <span class="d-flex text-bold metric-text">
              Pins Created Today
            </span>
          </div>


        </div>

      </div>
    </div>

    <div class="d-flex flex-column quick-access-wrapper">

      <div class="d-flex align-items-center quick-access-title">

        <div class="d-flex align-content-center justify-content-center quick-access-title-icon">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-icon lucide-list">
            <path d="M3 5h.01" />
            <path d="M3 12h.01" />
            <path d="M3 19h.01" />
            <path d="M8 5h13" />
            <path d="M8 12h13" />
            <path d="M8 19h13" />
          </svg>

        </div>

        <span class="text-bold quick-access-title-text">
          Quick Access
        </span>

      </div>

      <!-- Quick View - Average Number of Published Pins -->
      <div class="d-flex justify-content-between align-content-center gf-card-stat-quick-view">

        <div class="d-flex flex-column justify-content-center quick-access-top-bottom-wrapper">

          <!-- * top -->
          <div class="d-flex align-items-center quick-access-top">

            <div class="d-flex align-items-center quick-access-icon average-published-pins">

              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-chart-column-icon lucide-chart-column">
                <path d="M3 3v16a2 2 0 0 0 2 2h16" />
                <path d="M18 17V9" />
                <path d="M13 17V5" />
                <path d="M8 17v-3" />
              </svg>

            </div>

            <span class="text-medium quick-access-name">
              Average Number of Published Pins
            </span>

          </div>

          <!-- * bottom -->
          <div class="d-flex flex-column quick-access-preview">
            <span class="preview-text text-medium">
              Published In the last week: 12
            </span>

            <span class="preview-text text-medium">
              Published In the last month: 105
            </span>
          </div>

        </div>

        <!-- * Go To Post -->

        <div class="d-flex align-items-center">
          <button class="d-flex justify-content-center align-items-center quick-access-goto-button">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1,5"
              stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-square-arrow-right-enter-icon lucide-square-arrow-right-enter">
              <path d="m10 16 4-4-4-4" />
              <path d="M3 12h11" />
              <path d="M3 8V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-3" />
            </svg>

          </button>

        </div>

      </div>

      <!-- Quick View - Pin Density by Location -->
      <div class="d-flex justify-content-between align-content-center gf-card-stat-quick-view">

        <div class="d-flex quick-access-top-bottom-wrapper">

          <!-- * top -->
          <div class="d-flex align-items-center quick-access-top">

            <div class="d-flex align-items-center quick-access-icon pin-density">

              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff"
                stroke-width="1,5" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-map-pinned-icon lucide-map-pinned">
                <path
                  d="M18 8c0 3.613-3.869 7.429-5.393 8.795a1 1 0 0 1-1.214 0C9.87 15.429 6 11.613 6 8a6 6 0 0 1 12 0" />
                <circle cx="12" cy="8" r="2" />
                <path
                  d="M8.714 14h-3.71a1 1 0 0 0-.948.683l-2.004 6A1 1 0 0 0 3 22h18a1 1 0 0 0 .948-1.316l-2-6a1 1 0 0 0-.949-.684h-3.712" />
              </svg>

            </div>

            <span class="text-medium quick-access-name">
              Pin Density by Location
            </span>

          </div>

        </div>

        <!-- * Go To Post -->

        <div class="d-flex align-items-center">
          <button class="d-flex justify-content-center align-items-center quick-access-goto-button">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1,5"
              stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-square-arrow-right-enter-icon lucide-square-arrow-right-enter">
              <path d="m10 16 4-4-4-4" />
              <path d="M3 12h11" />
              <path d="M3 8V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-3" />
            </svg>

          </button>

        </div>

      </div>

      <!-- Quick View - Pin Density by Location -->
      <div class="d-flex justify-content-between align-content-center gf-card-stat-quick-view">

        <div class="d-flex flex-column quick-access-top-bottom-wrapper">

          <!-- * top -->
          <div class="d-flex align-items-center quick-access-top">

            <div class="d-flex align-items-center quick-access-icon reports">

              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-message-circle-warning-icon lucide-message-circle-warning">
                <path
                  d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719" />
                <path d="M12 8v4" />
                <path d="M12 16h.01" />
              </svg>

            </div>

            <span class="text-medium quick-access-name">
              Pin Density by Location
            </span>

          </div>

          <!-- * bottom -->
          <div class="d-flex flex-column quick-access-preview">
            <span class="preview-text text-medium">
              Reports awaiting review: 6
            </span>
          </div>

        </div>

        <!-- * Go To Post -->

        <div class="d-flex align-items-center">
          <button class="d-flex justify-content-center align-items-center quick-access-goto-button">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1,5"
              stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-square-arrow-right-enter-icon lucide-square-arrow-right-enter">
              <path d="m10 16 4-4-4-4" />
              <path d="M3 12h11" />
              <path d="M3 8V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-3" />
            </svg>

          </button>

        </div>

      </div>


    </div>

  </div>

</div>



<app-footer></app-footer>
