/* groups.component.css */

:host {
  display: flex;
  flex-direction: column;
  max-width: var(--gf-container-lg);
  gap: var(--gf-16);
  margin: 0 auto;
  color: var(--gf-dark-text);
  padding: var(--gf-32) 0 var(--gf-128);
  color: var(--gf-dark-text);
}

gf-async-button {
  display: block;
  width: 100%;
  margin-top: var(--gf-16);

  --async-btn-width: 100%;
  --async-btn-height: var(--gf-40);
}

nav {
  height: var(--gf-40);
  background-color: var(--gf-dark-bg);
  border-radius: var(--gf-8);
  box-shadow: var(--gf-shadow-lift-sm);

  a {
    text-decoration: none;
    color: var(--gf-dark-text-muted);

    &:hover {
      color: var(--gf-dark-text);
    }

    &.active {
      color: var(--gf-primary);
    }
  }
}
