<!-- groups.component.html -->

<app-flat-header></app-flat-header>
<div class="gf-container-lg gf-w-90 gf-mx-auto gf-pt-64 gf-flow-vertical gf-gap-16" style="background-color:black;">
  <h5 class="gf-font-bold">{{ 'Username\'s groups' }}</h5>
  <nav class="gf-flow-horizontal gf-justify-evenly gf-items-center gf-w-100">
    <a [routerLink]="'.'"
       [queryParams]="{ tab: 'groups' }"
       [class.active]="activeTab() === 'groups'">
      Groups
    </a>
    <a [routerLink]="'.'"
       [queryParams]="{ tab: 'invites' }"
       [class.active]="activeTab() === 'invites'">
      Invites
    </a>
  </nav>
  @switch (activeTab()) {
    @case ('groups') {
      <app-groups-list></app-groups-list>
    }
    @case ('invites') {
      <app-group-invites-list></app-group-invites-list>
    }
  }
</div>
<app-footer></app-footer>
