<!-- groups.component.html -->

<h5 class="gf-font-bold">{{ `${ profileContext.userProfile().userName }'s groups` }}</h5>
@if (profileContext.isOwner()) {
  <nav class="gf-flow-horizontal gf-justify-evenly gf-items-center gf-w-100">
  <a [routerLink]="'.'" [queryParams]="{ tab: 'groups' }" [class.active]="activeTabOrDefault() === 'groups'">
    Groups
  </a>
  <a [routerLink]="'.'" [queryParams]="{ tab: 'invites' }" [class.active]="activeTabOrDefault() === 'invites'">
    Invites
  </a>
  </nav>
}
@if (activeTabOrDefault() === 'invites' && profileContext.isOwner()) {
  <gf-group-invites-list></gf-group-invites-list>
} @else {
  <gf-groups-list></gf-groups-list>
}
