:host {
  display: flex;
  gap: var(--gf-8);
  flex-direction: column;

}

.show-more-text {
  font-family: var(--gf-font-main);
  font-size: var(--gf-16);
  color: var(--gf-primary);

  color: var(--gf-primary);
  --underline-width: 100%;

  background:none;
  border: none;

  text-decoration: underline;
}
