<!-- friend-card.component.html -->

<div>
  <a [routerLink]="['/profile', user().userId]">
    <img [src]="user().avatarUrl ?? defaultAvatar" alt="Avatar">
    <div>
      <p>{{ user().firstName + ' ' + user().lastName }}</p>
      <small>@{{ user().userName }}</small>
    </div>
  </a>
</div>
@if (actions()) {
  <div class="gf-flow-horizontal gf-gap-12">
    <button
      [disabled]="isAccepted()"
      (click)="onDecline()">
      Decline
    </button>
    <gf-async-button
      [labels]="{ idle: 'Accept' }"
      [states]="{ busy: busyState.busy(), success: isAccepted() }"
      (click)="onAccept()"
    ></gf-async-button>
  </div>
}
