#map {
  width: 100%;
  height: 900px;
  position: relative;
  z-index: 0;
}

/* tenta “flutuar” por cima do mapa */
app-create-pin {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}
