main {
  position: relative;
  margin-top: 80px;
  display: block;
}

#map {
  width: 100%;
  height: 900px;
  position: relative;
  z-index: 0;
}

app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

app-create-pin {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
  border-radius: var(--gf-border-radius);
  overflow: hidden;
  box-shadow: var(--gf-border-radius);
}

app-pin-detail-panel {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  width: 350px;
  max-height: calc(100% - 40px);
  background-color: #1e1e1e;
  color: white;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);

  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

