/*
 * Remover se não for esta a cor
 * No figma, a cor de fundo é diferente aquela que está nos styles.css
*/
.figma-bg-dark-temporary {background-color: #191919;}

.square {
  width: 381px;
  height: 290px;
  background-color: #555;
}

/* Icones*/


/* TODO: Arranjar melhor nomenclatura para os icones*/
.gofish-card > .icon-box {
  --icon-box-size: 48px;
  width: var(--icon-box-size);
  height: var(--icon-box-size);
  border-radius: 8px;
  background-color: #1A1A1A;
}

.gofish-card > .icon-box > [class^="icon-"] {
  --size:48px;
  background-size: 24px 24px;
}

/* Stat Card == */
.stat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 12px;
}

.icon-size-statistics {
  --size: 70px;
  background-size: 70px 70px;
}

.icon-size-overall-review  {--size: 40px;}

.icon-size-review  {--size: 20px;}

.stat-value {
  font-size: 28px;
  line-height: 1;
  margin: 0;
}

.stat-label {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  max-width: 250px;
  word-wrap: break-word;
}
