<app-header></app-header>
<main class="dark-bg">


  <section class="hero pt-5 pb-5">
    <div class="container">
      <div class="row align-items-center gx-5">

        <!-- PRIMEIRA COLUNA -->
        <div class="col-6">

          <h1 class="font-main dark-text" >Mapa Social</h1>
          <h4 class="font-main dark-text mb-5" >Para Pescadores Por Pescadores</h4>
          <p class="font-main dark-text-muted">Regista, explora e partilha capturas georreferenciadas com a comunidade.</p>

          <div class="d-flex gap-3 mt-4">

            <button class="font-main btn-fish">Explorar Mapa</button>
            <button class="font-main btn-fish">Ver atividade</button>

          </div>
        </div>


        <!-- SEGUNDA COLUNA -->
        <div class="col-md-6 hero-right mt-4 mt-md-0">
          <div class="square"></div>
        </div>

      </div>

    </div>
  </section>

  <!-- TODO: Secção de funcionalidades da aplicação -->

</main>
