<app-header></app-header>
<main class="dark-bg figma-bg-dark-temporary font-main hero">

  <section>
    <div class="container pt-5 pb-5">
      <div class="row d-flex align-items-center justify-content-around mb-5">

        <!-- PRIMEIRA COLUNA -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center text-lg-start">

          <h1 class="dark-text main-hero-text-heading">Mapa Social</h1>
          <h4 class="dark-text main-hero-text-subheading mb-5">Para Pescadores Por Pescadores</h4>
          <p class="dark-text-muted">
            Regista, explora e partilha capturas georreferenciadas com a comunidade.
          </p>

          <div class="d-flex justify-content-center justify-content-lg-start gap-3 mt-4">
            <button class="btn-fish">Explorar Mapa</button>
            <button class="btn-fish">Ver Atividade</button>
          </div>
        </div>


        <!-- SEGUNDA COLUNA -->
        <div class="col-12 col-lg-6
                    mt-4 mt-md-4 mt-lg-4
                    d-flex justify-content-center justify-content-lg-end">
          <div class="square"></div>
        </div>

      </div>
    </div>
  </section>

  <section>

    <!-- SECÇÃO -->
    <div class="container">
      <div class="row g-5 mt-4 mb-4 pb-5">

        <!-- 1º Cartão -->
        <div class="col-12 col-md-6">
          <div class="features-card h-100">
            <div class="icon-box icon-guitar mb-3"></div>
            <h5 class="font-main dark-text mb-3">Comunidade Portuguesa</h5>
            <p class="font-main features-card-p dark-text-muted mb-0 d-flex align-text-bottom">
              Plataforma dedicada a pescadores em Portugal, com conteúdos,
              locais e práticas adaptadas ao contexto nacional.
            </p>
          </div>
        </div>

        <!-- 2º Cartão -->
        <div class="col-12 col-md-6">
          <div class="features-card h-100">
            <div class="icon-box icon-map mb-3"></div>
            <h5 class="font-main dark-text mb-3">Mapa Colaborativo</h5>
            <p class="font-main dark-text-muted mb-0">
              Registos de pesca georreferenciados e partilhados pela comunidade, permitindo explorar locais e padrões
              reais.
            </p>
          </div>
        </div>

        <!-- 3º Cartão -->
        <div class="col-12 col-md-6">
          <div class="features-card h-100">
            <div class="icon-box icon-hook mb-3"></div>
            <h5 class="font-main dark-text mb-3">Registe Capturas</h5>
            <p class="font-main dark-text-muted mb-0 d-flex align-self-sm-stretch cat">
              Carregue as fotos das suas capturas e partilhe-as com a comunidade.
            </p>
          </div>
        </div>

        <!-- 4º Cartão -->
        <div class="col-12 col-md-6">
          <div class="features-card h-100">
            <div class="icon-box icon-clear mb-3"></div>
            <h5 class="font-main dark-text mb-3">Interface clara</h5>
            <p class="font-main dark-text-muted mb-0">
              Design focado em legibilidade, navegação simples e utilização eficiente em dispositivos móveis.
            </p>
          </div>
        </div>



      </div>
    </div>
  </section>

  <!-- TODO:
   Secção de estatisticas
   -->

   <section>

    <!-- SECÇÃO -->
    <div class="container">
      <div class="row d-flex align-items-sm-center justify-content-center gap-3
                      mt-5 pt-5 ms-3 me-3">

        <div class="col-12 col-md-2 text-center bold">
          <img src="/assets/images/home/fish.svg" class="icon-box .icon-resize-statistics mb-3"/>
          <p class="dark-text cat">99M</p>
          <p class="dark-text-muted dog">Total de pins criados</p>
        </div>

        <div class="col-12 col-md-2 text-center bold">
          <img src="/assets/images/home/fish.svg" class="icon-box .icon-resize-statistics mb-3"/>
          <p class="dark-text cat">99M</p>
          <p class="dark-text-muted dog">Total de Pins de Pesca</p>
        </div>

        <div class="col-12 col-md-2 text-center bold">
          <img src="/assets/images/home/fish.svg" class="icon-box .icon-resize-statistics mb-3"/>
          <p class="dark-text cat">99M</p>
          <p class="dark-text-muted dog">Total de Pins de Aviso e Informação</p>
        </div>

      </div>
    </div>

  </section>

</main>





<!--

<div id="1" class="col-12 col-md-2 text-center bold">
  <img src="/assets/images/home/guitar.svg" class="icon-box .icon-resize-statistics mb-3" />
  <p class="dark-text cat">99M</p>
  <p class="dark-text-muted dog">total de pins criados</p>
</div>

<div id="2" class="col-12 col-md-1 ">
  <div class="icon-box icon-fish icon-resize-statistics mb-3"></div>
  <p class="dark-text cat">99M</p>
  <p class="dark-text-muted dog">total de pins criados</p>
</div>

<div id="3" class="col-12 col-md-1 ">
  <div class="icon-box icon-fish icon-resize-statistics mb-3"></div>
  <p class="dark-text cat">99M</p>
  <p class="dark-text-muted dog">total de pins criados</p>
</div>

-->
