.hero {
  min-height: 100vh;
}

.hero-right {
  padding-left: 136px;
}

@media (max-width: 992px) {
  .hero-right {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
}

.dark-text {
  font-weight: bold;
  /*font-size: var(--font-size);*/
}

.dark-text-muted {
  font-style: medium;
}

.square {
  height: 290px;
  width: 381px;
  background-color: #555;
}

.btn-fish {
  padding: 0px 20px 0px 20px;
  min-width: 130px;
  min-height: 40px;

  background: #333;
  color: var(--dark-text);
  font-size: 14px;

  /* Design antigo
  box-shadow: 0px 2px 5px #525252 inset;*/
  box-shadow: var(--dark-lift-shadow-s);
  border-width: 0px;
  border-radius: 20px;

  transition: transform 0.1s, box-shadow 0.1s;

}

.btn-fish:active {
  border-width: 0px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #515151;
  /* RETIRAR se for rejeitado a ideia*/
  transform: translateY(-1px);
}

/* FEATURES CARD */
.features-card {
  box-shadow: var(--dark-lift-shadow-m);
  border-radius: 12px;
  border-width: 0px;
  background: #333;
  padding: 24px;
}

.icon-box{
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background-color: #1A1A1A;

  background-image: var(--icon-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
}

.icon-guitar { --icon-url: url('/assets/images/home/guitar.svg'); }
.icon-map    { --icon-url: url('/assets/images/home/map.svg'); }
.icon-hook   { --icon-url: url('/assets/images/home/hook.svg'); }
.icon-clear   { --icon-url: url('/assets/images/home/clear.svg'); }

.features-card > h5 {
  font-size: 20px;
}

.features-card > p {
  font-size: 18px;
}
/* FEATURES CARD - FIM */
