/* security.component.css */

:host {
  display: block;
  margin: 0 auto;
  max-width: var(--gf-container-md);
  width: 90%;
}

h4 {
  margin: var(--gf-32) 0;
}

/* Loading state */

.loading-container {
  gap: var(--gf-6);
  padding: var(--gf-32);
  color: var(--dark-text-muted);
  font-size: var(--gf-14);

  & svg {
    width: 32px;
    height: 32px;
    animation: gf-basic-gf-basic-spin 1.5s linear infinite;

    &.spinner-enter {
      animation: gf-icon-scale-in .2s ease-out;
    }
  }

  & span {
    font-size: var(--gf-text-sm);
  }
}

/* End loading state */
/* Failed state */

.failed-container {
  padding: var(--gf-32);

  & span {
    font-size: var(--gf-text-md);
  }

  & button, a {
    display: block;
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border: none;
    width: 25%;
    padding: calc(1em / 2) var(--gf-8);
    margin: var(--gf-12) 0;
    box-shadow: 0 0 0 2px var(--gf-primary);
    color: var(--gf-dark-text);
    border-radius: var(--gf-8);
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 0 0 0 4px var(--gf-primary);
    }

    & span {
      font-size: var(--gf-text-md);
    }
  }
}

/* End failed state */
/* Change password */

.change-password-container {
  display: block;

  & .actions {
    text-align: right;
    margin-top: calc(var(--gf-8) + var(--gf-18) + var(--gf-2));

    & app-async-button {
      --async-btn-padding: calc(1em / 2) var(--gf-48);
    }
  }
}

.change-password-form {
  & label {
    display: block;
    margin-bottom: var(--gf-2);
    color: var(--dark-text-muted);
    font-size: var(--gf-12);
  }

  & input {
    width: 100%;
    box-shadow: none;
    border: none;
    outline: none;
    color: var(--dark-text);
    background-color: var(--dark-bg);
    border-radius: var(--gf-8);
    font-size: var(--gf-text-sm);
    padding: calc(1em / 2) var(--gf-8);
    transition: box-shadow 0.2s ease;

    &:hover {
      box-shadow: 0 0 0 2px var(--gf-primary);
    }

    &:focus {
      box-shadow: 0 0 0 2px var(--gf-primary);
    }
  }
}

/* End change password */
/* Two step */

.two-step-container {
  & > p {
    font-size: var(--gf-14);
    margin-bottom: var(--gf-12);
  }

  & > small {
    display: inline-block;
    color: var(--gf-dark-text-muted);
    font-size: var(--gf-12);
  }
}

.two-step-option {
  color: var(--gf-dark-text-muted);

  p { font-size: var(--gf-14); font-weight: 600; }
  small { display: inline-block; font-size: var(--gf-12); width: 70%; margin-top: var(--gf-6); }
  div { width: 100%; }
  svg { width: 20px; height: 20px; }

  input {
    align-self: flex-start;
    margin: 0;
    cursor: pointer;
    appearance: none;

    &:checked ~ .icon-checked { display: block; color: var(--gf-primary); }
    &:checked ~ .icon-unchecked { display: none; }
  }

  .icon-checked { display: none; }
  .icon-unchecked { display: block; }

  &.active { color: var(--gf-dark-text); }
  &:hover { color: var(--gf-dark-text); cursor: pointer; }
}

/* End two step */
