.gofish-logo-text {
  font-size: 28px;
}

.header-item-font a,
.header-item-font
{
  font-size: 16px;
}


.header-items a {
  text-decoration:none;
}

.header-items a:hover {
  /*color: var(--selected);*/
  font-weight: bold;
}

.header-items a.active {
  color: var(--selected);
  text-decoration:underline;
}
