/*
 * Source: https://stackoverflow.com/a/62872785
*/
.header-items a {
  font-size: 16px;
  letter-spacing: 5%;

  text-decoration:none;
  background: linear-gradient(currentColor 0 0)
  bottom center/ var(--underline-width, 0%) 2px no-repeat;
  transition: background-size 0.2s;
}

.header-items a:hover {
  --underline-width: 100%;
  /*
  text-decoration:underline;
  text-decoration-thickness: 2px;
  */

}

.header-items a.active {
  text-decoration:underline;
  text-decoration-thickness: 2px;

  color: var(--selected);

  background: linear-gradient(currentColor 0 0)
  bottom center/ 100% 2px no-repeat;

}



.gofish-btn-circle {

  --gf-btn-bg: #22232A;
  --gf-btn-border-radius: 50px;

  --gf-btn-padding:8px;
}

.header-right{
  gap:12px;

}


.icon-size-header {
  --size: 20px;

  width: var(--size);
  height: var(--size);
  background-size: var(--size) var(--size);
}


