<header class="w-100 dark-bg-dark">
  <div class="container-lg">

    <div class="row pt-4 pb-4 align-items-center">

      <!-- # Logo and Gofish -->

      <div class="col-2 d-flex align-items-center gap-3">
        <div class="icon-gofish icon-size-about-table"></div>
        <span class="dark-text gofish-logo-text text-gofish font-heading">GOFISH</span>
      </div>

      <!-- # Header Items -->
      <div class="col d-flex align-items-center gap-4 font-main header-items">

        <a routerLink="/"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="text-slim dark-text-muted">
          HOME
        </a>

        <a routerLink="/map" routerLinkActive="active"
        class="text-slim dark-text-muted">
          MAP
        </a>
        <a href="" routerLink="/forum" routerLinkActive="active"
        class="text-slim dark-text-muted">
          FORUM
        </a>
        <a routerLink="/about-us" routerLinkActive="active"
        class="text-slim dark-text-muted">
          ABOUT US
        </a>

      </div>

      <div class="col-auto d-flex align-items-center justify-content-end gap-2 header-right">
        <a href="/" class="gofish-card gofish-card-size">
          <div class="icon icon-search icon-size-header icon-white-muted"></div>
        </a>
        <a href="/" class="gofish-card gofish-card-size">
          <div class="icon icon-user icon-size-header icon-white-muted"></div>
        </a>
        <a href="/" class="gofish-card gofish-card-size">
          <div class="icon icon-shielduser icon-size-header icon-white-muted"></div>
        </a>


      </div>

    </div>

    <!-- TODO:
      * Fazer com que o texto do logotipo não permita o utilizador copiar
      * Adicionar o botões do lado direito do header
      * Fazer o header responsivo (burger menu em ecrãs pequenos)
    -->

  </div>
</header>
