<label>Descrição</label>
<input [(ngModel)]="body" />

<label> Visibilidade</label>
<select [(ngModel)]="selectedVisibility" name="visibilty">
  <option [ngValue]="null" disabled>Selecione uma opção</option>
  <option *ngFor="let option of visibilityOptions" [ngValue]="option.value">
    {{ option.name }}
  </option>
</select>

<label>Tipo de aviso (WarnPinType)</label>
<select [(ngModel)]="selectedWarnType" name="bait">
  <option [ngValue]="null" disabled>Selecione uma opção</option>
  <option *ngFor="let option of warnTypeOptions" [ngValue]="option.value">
    {{ option.name }}
  </option>
</select>

<div *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<button type="button" (click)="onSubmit()">Criar Warn Pin</button>
