<!-- reset-password.component.html -->

<div class="gf-background-map-fixed gf-center-axes d-flex">
  <div class="gf-card gf-flow-vertical gf-container-xs gf-gap-24 gf-w-90">

    <!-- Title -->
    <div class="gf-flow-vertical gf-justify-start gf-align-center">
      <p class="header gf-text-lg">Forgot password?</p>
      <small class="sub-header gf-text-sm">No worries. we'll send you reset instructions.</small>
    </div>

    <!-- Body -->
    <div class="step-wrapper">
      @switch (bodyView()) {
      @case ('enter-email') {
        <form  class="form gf-flow-vertical gf-gap-6" [formGroup]="enterEmailForm.form" animate.enter="on-enter" animate.leave="on-leave">
          <div class="d-block">
            <small>E-mail</small>
            <input type="text" class="gf-w-100" formControlName="email">
            @if (enterEmailForm.getFirstError(); as errorText) {
              <small class="gf-text-error">{{ errorText }}</small>
            }
          </div>
        </form>
      }
      @case ('new-password') {
        <form  class="form gf-flow-vertical gf-gap-6" [formGroup]="newPasswordForm.form" animate.enter="on-enter" animate.leave="on-leave">
          <div class="d-block">
            <small>Enter the code sent to your e-mail</small>
            <input type="text" class="gf-w-100" formControlName="code">
          </div>
          <div class="d-block">
            <small>New password</small>
            <input type="text" class="gf-w-100" formControlName="newPassword">
          </div>
          <div class="d-block">
            <small>Confirm password</small>
            <input type="text" class="gf-w-100" formControlName="confirmPassword">
          </div>
          @if (newPasswordForm.getFirstError(); as errorText) {
            <small class="gf-text-error">{{ errorText }}</small>
          }
        </form>
      }}
    </div>

    <!-- Submit area -->
    <div class="bottom-container gf-flow-horizontal gf-my-8 gf-gap-6">
      <button
        class="negative-btn"
        (click)="router.navigate([Path.SIGN_IN])">
        Cancel
      </button>
      <button
        class="positive-btn"
        gfAsyncBtn
        (click)="onPositive()"
        [labels]="{ idle: bodyView() === 'enter-email' ? 'Send' : 'Reset' }"
        [states]="{ busy: busyState.isBusy(), success: resetSucceeded() }">
      </button>
    </div>

  </div>
</div>
