<div class="map-create-pin">
  <div class="menu">
    <!-- HEADER -->
    <div class="header-2">
      <p class="p">Qual é a informação campeão?</p>
    </div>

    <!-- FORM -->
    <div class="textbox">
      <label>Descrição</label>
      <input [(ngModel)]="body" />
      <div class="name">Geolocation</div>
      <div class="set">
        <div class="text-wrapper-3">
          <div class="text-6">{{ coords.latitude | number:'1.6-6' }}</div>
        </div>
        <div class="text-wrapper-3">
          <div class="text-7">{{ coords.longitude | number:'1.6-6' }}</div>
        </div>
      </div>
    </div>

    <div class="options">
      <div class="header-4">Visibility</div>
      <div class="custom-radio-group">
        <ng-container *ngFor="let option of visibilityOptions; let i = index">
          <input type="radio" class="btn-check" name="visibility" [id]="'vis_' + i" [value]="option.value"
            [(ngModel)]="selectedVisibility" autocomplete="off">

          <label class="btn custom-radio-btn" [for]="'vis_' + i">
            {{ option.name }}
          </label>
        </ng-container>
      </div>
    </div>
    <div>
    <label>Nivel de perigo</label>
    <select [(ngModel)]="selectedWarnType" name="bait">
      <option [ngValue]="null" disabled>Selecione uma opção</option>
      @for (option of warnTypeOptions; track option.value) {
      <option [ngValue]="option.value">
        {{ option.name }}
      </option>
      }
    </select>
    </div>
  </div>

  <!-- OPTIONS -->
  <div class="options">
    <!-- ERROR -->
    @if (errorMessage) {
    <div class="text-wrapper-4">
      {{ errorMessage }}
    </div>
    }

    <!-- ACTIONS -->
    <div class="actions">
      <button type="button" class="publish-button" (click)="onSubmit()">
        <div class="publish">Publicar</div>
      </button>
    </div>
  </div>
</div>
