<div class="container stats-section-wrapper">

  <!-- #region Quick View -->
  <div class="d-flex align-items-center quick-header-wrapper">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye">
      <path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
      <circle cx="12" cy="12" r="3" />
    </svg>

    <span class="text-bold">Quick View</span>
  </div>
  <!-- #endregion -->

  <!-- #region Quick View GRID -->
  <div class="quick-view-grid">

    <!-- Quick View Item - 1 -->
    <app-gf-card-quick-view type="system-requests" bigText="99%"
      littleText="of system requests were successful"></app-gf-card-quick-view>

    <!-- Quick View Item - 2 -->
    <app-gf-card-quick-view type="satisfaction-index" bigText="4.6"
      littleText="User Satisfaction Index"></app-gf-card-quick-view>

    <!-- Quick View Item - 3 -->
    <app-gf-card-quick-view type="positive-votes" bigText="105"
      littleText="Pins with 15+ Positive Votes"></app-gf-card-quick-view>

    <!-- Quick View Item - 4 -->
    <app-gf-card-quick-view type="pins-today" bigText="11" littleText="Pins created today"></app-gf-card-quick-view>

    <!-- Quick View Item - 5 -->
    <app-gf-card-quick-view type="active-users" bigText="11" littleText="Active users"></app-gf-card-quick-view>

  </div>
  <!-- #endregion -->


</div>

<div class="container stats-section-wrapper">

  <!-- #region Quick View -->
  <div class="d-flex align-items-center quick-header-wrapper">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-icon lucide-list">
      <path d="M3 5h.01" />
      <path d="M3 12h.01" />
      <path d="M3 19h.01" />
      <path d="M8 5h13" />
      <path d="M8 12h13" />
      <path d="M8 19h13" />
    </svg>

    <span class="text-bold">Quick Access</span>
  </div>
  <!-- #endregion -->

  <div class="quick-access-list">


    <app-gf-card-quick-access type="average-published-pins" title="Average Number of Published Pins"
      [extraTexts]="['Published in the last week: 12', 'Published in the last month: 105']" />

    <app-gf-card-quick-access type="pin-density" title="Pin Density by Location" />
    <app-gf-card-quick-access type="reports" title="Reports" [extraTexts]="['Reports awaiting review: 6']" />

  </div>


  <!--


<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1"
          stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-square-arrow-right-enter-icon lucide-square-arrow-right-enter">
          <path d="m10 16 4-4-4-4" />
          <path d="M3 12h11" />
          <path d="M3 8V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-3" />
        </svg>


<div class="stat-container">

    <div class="d-flex flex-column quick-access-wrapper">

      <div class="d-flex align-items-center quick-access-title">

        <div class="d-flex align-content-center justify-content-center quick-access-title-icon">


        </div>

        <span class="text-bold quick-access-title-text">
          Quick Access
        </span>

      </div>

      <!-- Quick View - Average Number of Published Pins
      <div class="d-flex justify-content-between align-content-center gf-card-stat-quick-view">

        <div class="d-flex flex-column justify-content-center quick-access-top-bottom-wrapper">

          <!-- * top
          <div class="d-flex align-items-center quick-access-top">

            <div class="d-flex align-items-center quick-access-icon average-published-pins">

              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-chart-column-icon lucide-chart-column">
                <path d="M3 3v16a2 2 0 0 0 2 2h16" />
                <path d="M18 17V9" />
                <path d="M13 17V5" />
                <path d="M8 17v-3" />
              </svg>

            </div>

            <span class="text-medium quick-access-name">
              Average Number of Published Pins
            </span>

          </div>

          <!-- * bottom
          <div class="d-flex flex-column quick-access-preview">
            <span class="preview-text text-medium">
              Published In the last week: 12
            </span>

            <span class="preview-text text-medium">
              Published In the last month: 105
            </span>
          </div>

        </div>

        <!-- * Go To Post

        <div class="d-flex align-items-center">


        </div>

      </div>

      <!-- Quick View - Pin Density by Location
      <div class="d-flex justify-content-between align-content-center gf-card-stat-quick-view">

        <div class="d-flex quick-access-top-bottom-wrapper">

          <!-- * top
          <div class="d-flex align-items-center quick-access-top">

            <div class="d-flex align-items-center quick-access-icon pin-density">


            </div>

            <span class="text-medium quick-access-name">
              Pin Density by Location
            </span>

          </div>

        </div>

        <!-- * Go To Post

        <div class="d-flex align-items-center">
          <button class="d-flex justify-content-center align-items-center quick-access-goto-button">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1,5"
              stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-square-arrow-right-enter-icon lucide-square-arrow-right-enter">
              <path d="m10 16 4-4-4-4" />
              <path d="M3 12h11" />
              <path d="M3 8V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-3" />
            </svg>

          </button>

        </div>

      </div>

      <!-- Quick View - Pin Density by Location
      <div class="d-flex justify-content-between align-content-center gf-card-stat-quick-view">

        <div class="d-flex flex-column quick-access-top-bottom-wrapper">

          <!-- * top
          <div class="d-flex align-items-center quick-access-top">

            <div class="d-flex align-items-center quick-access-icon reports">

              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-message-circle-warning-icon lucide-message-circle-warning">
                <path
                  d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719" />
                <path d="M12 8v4" />
                <path d="M12 16h.01" />
              </svg>

            </div>

            <span class="text-medium quick-access-name">
              Reports
            </span>

          </div>

          <!-- * bottom
          <div class="d-flex flex-column quick-access-preview">
            <span class="preview-text text-medium">
              Reports awaiting review: 6
            </span>
          </div>

        </div>

        <!-- * Go To Post

        <div class="d-flex align-items-center">
          <button  class="d-flex justify-content-center align-items-center quick-access-goto-button" [routerLink]= "['/statistics/reports']">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1,5"
              stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-square-arrow-right-enter-icon lucide-square-arrow-right-enter">
              <path d="m10 16 4-4-4-4" />
              <path d="M3 12h11" />
              <path d="M3 8V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-3" />
            </svg>

          </button>

        </div>

      </div>


    </div>

  </div>



</div>
-->
