.stats-section-wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quick-header-wrapper {
  max-width: 45%;
  gap: 10px;
  padding-left: 5px;

  & span {
    font-family: var(--gf-font-date);
    font-size: 24px;
  }
  & svg {
    width: 20px;
    height: 20px;
  }
}

.quick-view-grid {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 20px 20px;
  width: 100%;
  justify-items: start;
}

.quick-access-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
