<div class="container stats-section-wrapper">

  <!-- #region Quick View -->
  <div class="quick-header-wrapper">

    <div class="icon-quick-view-wrapper">

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye">
        <path
          d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
        <circle cx="12" cy="12" r="3" />
      </svg>

      <span class="text-bold">Quick View</span>
    </div>

    <div class="segmented-control">
      <div class="radio-btn">

        <input type="radio" name="month" id="current" [checked]="!isLastMonth" (change)="isLastMonth = false" checked>
        <label for="current">Current Month</label>

        <input type="radio" name="month" id="last" [checked]="isLastMonth" (change)="isLastMonth = true">
        <label  for="last">Last Month</label>

      </div>

    </div>



  </div>
  <!-- #endregion -->

  <div class="new-grid">
    @if (!isLastMonth) {

      <gf-pins-average-published-chart class="gf-card" [pinStats]="currentMonthStats"></gf-pins-average-published-chart>
      <gf-pins-per-week class="gf-card" [pins]="pinWeeksCurrentMonth()"></gf-pins-per-week>
    }
    @else {
      <gf-pins-average-published-chart class="gf-card" [pinStats]="lastMonthStats"></gf-pins-average-published-chart>
      <gf-pins-per-week class="gf-card" [pins]="pinWeeksLastMonth()"></gf-pins-per-week>
    }
  </div>

  <!-- #region Created Users Chart -->

  <div class="quick-view-grid">

    <div class="chart-grid-item">
      <!-- Shows weeks from last two months -->
      <gf-users-chart class="gf-card"></gf-users-chart>
    </div>

  </div>

  <!-- #endregion-->


  <!-- #region Quick View GRID -->
  <div class="quick-view-grid">

    <!-- Quick View Item - 1 -->
    <app-gf-card-quick-view type="system-requests" bigText=" {{ weeklyApiSuccessRate() !== null ? `${weeklyApiSuccessRate()}%` : 'Loading...' }}"
      littleText="of system requests were successful(weekly)"></app-gf-card-quick-view>

    <!-- Quick View Item - 2 -->
    <app-gf-card-quick-view type="satisfaction-index" bigText="4.6"
      littleText="User Satisfaction Index"></app-gf-card-quick-view>

    <!-- Quick View Item - 3 -->
    <app-gf-card-quick-view type="positive-votes" bigText="{{ pinsWith15PositiveVotes()?.pinsWith15PositiveVotes }}"
      littleText="Pins with 15+ Positive Votes"></app-gf-card-quick-view>

    <!-- Quick View Item - 4 -->
    <app-gf-card-quick-view type="pins-today" bigText="{{ pinsCreatedToday()?.pinsCreatedToday }}" littleText="Pins created today"></app-gf-card-quick-view>

    <!-- Quick View Item - 5 -->
    <app-gf-card-quick-view type="active-users" bigText="{{ activeUsers()?.activeUsers }}" littleText="Active users"></app-gf-card-quick-view>

  </div>
  <!-- #endregion -->


</div>

<!-- * Quick Access Items -->

<div class="container stats-section-wrapper">

  <!-- #region Quick Access -->


  <div class="d-flex align-items-center quick-header-wrapper">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-icon lucide-list">
      <path d="M3 5h.01" />
      <path d="M3 12h.01" />
      <path d="M3 19h.01" />
      <path d="M8 5h13" />
      <path d="M8 12h13" />
      <path d="M8 19h13" />
    </svg>

    <span class="text-bold">Quick Access</span>
  </div>

  <!-- #endregion -->


  <!-- Go to Reports -->
  <div class="quick-view-grid">
    <app-gf-card-quick-access class="quick-access-grid-item" type="reports" title="Reports"
      [extraTexts]="['Reports awaiting review: ' + (reportsWaitingReview()?.reportsWaitingReview || 0)]" />
  </div>

</div>
