<!-- pins.component.html -->

<h5 class="gf-font-bold">{{ `${ profileContext.profile().userName }'s pins` }}</h5>
<nav class="gf-flow-horizontal gf-justify-evenly gf-items-center gf-w-100">
  <a [routerLink]="'.'"
      [queryParams]="{ tab: 'all' }"
      [class.active]="activeTab() === 'all'">
    All ({{ counts().all }})
  </a>
  <a [routerLink]="'.'"
      [queryParams]="{ tab: 'catch' }"
      [class.active]="activeTab() === 'catch'">
    Catch ({{ counts().catch }})
  </a>
  <a [routerLink]="'.'"
      [queryParams]="{ tab: 'information' }"
      [class.active]="activeTab() === 'information'">
    Information ({{ counts().information }})
  </a>
  <a [routerLink]="'.'"
      [queryParams]="{ tab: 'warning' }"
      [class.active]="activeTab() === 'warning'">
    Warning ({{ counts().warning }})
  </a>
</nav>
@if (pins.isLoading()) {
  <gf-loading-spinner></gf-loading-spinner>
} @else if (pins.error()) {
  <gf-loading-error-modal
    [error]="pins.error()!"
    (negative)="router.navigate([Path.HOME]);"
    (positive)="window.location.reload();">
  </gf-loading-error-modal>
} @else if (pins.hasValue()) {
  <div class="list">
    @for (p of filteredPins(); track p.id) {
      <app-gf-card-pin-preview [pinData]="p"></app-gf-card-pin-preview>
    } @empty {
      @if (!pins.isLoading() && !loadingState.isLoading()) {
        <p>@if (counts().all < 1) { No pins to observe here. } @else { No pins in this category. }</p>
      }
    }
  </div>
  @if (pinsHasMore()) {
    <gf-async-button
      [labels]="{ idle: 'Load more', busy: 'Loading...' }"
      [states]="{ busy: busyState.isBusy() }"
      (click)="loadMorePins()"
    ></gf-async-button>
  }
}
