<!-- user-popover.component.html -->

<div class="d-flex justify-content-between align-items-start">
  <div class="d-flex align-items-center gf-gap-12 flex-grow-1">
    <img [src]="avatarService.resolve(avatarUrl.value())" alt="Avatar" width="40" height="40" style="width: 40px; height: 40px; border-radius: 100%; object-fit: cover;">
    <div class="flex-grow-1">
      @if (!authService.userFirstName() && !authService.userLastName()) {
        <div class="gf-text-normal text-truncate">{{ `${authService.userFirstName()} ${authService.userLastName()}` }}</div>
      }
      <div class="gf-text-small text-truncate">&#64;{{ authService.userName() }}</div>
    </div>
  </div>
  <button type="button" class="gf-nobg-btn-close d-flex align-items-center justify-content-center" (click)="popupController.close()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
  </button>
</div>

<div class="separator"></div>

<div class="gf-flow-vertical gf-gap-4">
  <a class="popup-link" [routerLink]="`/profile/${this.authService.userId()!}`" (click)="popupController.close()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 0 0-16 0"/></svg>
    <span>Profile</span>
  </a>
  <a class="popup-link" [routerLink]="`/leaderboard`" (click)="popupController.close()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 5V3"/><path d="M14 5V3"/><path d="M15 21v-3a3 3 0 0 0-6 0v3"/><path d="M18 3v8"/><path d="M18 5H6"/><path d="M22 11H2"/><path d="M22 9v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V9"/><path d="M6 3v8"/></svg>
    <span>Leaderboard</span>
  </a>
  <a class="popup-link" [routerLink]="[Path.SETTINGS]" (click)="popupController.close()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915"/><circle cx="12" cy="12" r="3"/></svg>
    <span>Settings</span>
  </a>
</div>

<div class="separator"></div>

<button class="gf-hollow-btn d-flex align-items-center justify-content-between w-100" (click)="onSignOutClick()">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="m16 17 5-5-5-5"/><path d="M21 12H9"/><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/></svg>
  <span>Sign Out</span>
</button>
