<div class="mb-4">
  <h2 class="text-success">
    Sign In
  </h2>
  <div>
    No account nay?
    <a routerLink="/user/signup" class="text-decorations-none fw-medium text-success d-inlin-block">Sign Up</a>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input type="text" class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
  </div>
  <div class="mb-3">
    <input type="text" class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Sign In
    </button>
  </div>
</form>
