<div class="d-flex align-items-center justify-content-between gf-card-group-create-search">

  <!-- Create Group -->

  <div class="d-flex align-items-center create-group-wrapper">

    <button class="gf-badge-create-group-btn" [routerLink]="Path.FORUM_CREATE_GROUP">

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-plus-icon lucide-plus">
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>

    </button>

    <span class="create-group-text">Create group</span>
  </div>

  <!-- Search Group -->
  <div class="search-group-wrapper justify-content-end">
    <div class="d-flex align-items-center search-bar">

      <button class="gf-badge-search-group-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search search-icon">
          <path d="m21 21-4.34-4.34" />
          <circle cx="11" cy="11" r="8" />
        </svg>
      </button>

      <input type="text" class="search-input" id="" placeholder="Search for group">

    </div>
  </div>

</div>
@for(group of groups()?.groups; track group.id) {

<!-- Group Listing -->

<div class="d-flex flex-column group-list-wrapper" [routerLink]="[Path.FORUM_MY_GROUPS, group.id]">

  <!-- #Comp my-group-listing-card -->
  <div class="gf-card-group-listing d-flex">

    <!-- Group-image -->
    <div class="group-image">
      <img [src]="group.imageUrl" class="group-image">
    </div>

    <!-- Name and stats -->
    <div class="d-flex flex-column group-info-and-stats w-100">

      <div class="group-name-stats d-flex align-items-center justify-content-between ">
        <span class="group-name">{{group.name}}</span>
        <div class="d-flex stats-wrapper ms-auto">

          <div class="gf-badge-text">
            <span>{{group.memberCount}} Members</span>
          </div>

          <div class="gf-badge-text ms-2">
            <span>{{group.postCount}} Posts</span>
          </div>
        </div>
      </div>

      <!-- Description -->
      <p class="group-description">{{group.description}}</p>
    </div>

  </div>


</div>
}

<!-- show-more -->
<div class="show-more">
  <button class="show-more-text">Show more</button>
</div>

<!-- New group -->

<button class="d-flex justify-content-center new-group-btn-wrapper" [routerLink]="Path.FORUM_CREATE_GROUP">
  <div class="new-group-elements d-flex flex-column align-items-center">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round"
      class="lucide lucide-circle-plus-icon lucide-circle-plus new-group-create-icon">
      <circle cx="12" cy="12" r="10" />
      <path d="M8 12h8" />
      <path d="M12 8v8" />
    </svg>

    <span class="new-group-create-text">Create a new group</span>
  </div>
</button>
