<div class="d-flex align-items-center justify-content-between gf-card-group-create-search">

  <!-- Create Group -->

  <div class="d-flex align-items-center create-group-wrapper">

    <button class="gf-toggle-circle create-group-btn">

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-plus-icon lucide-plus">
        <path d="M5 12h14" />
        <path d="M12 5v14" />
      </svg>

    </button>

    <span class="create-group-text">Create group</span>
  </div>

  <!-- Search Group -->
  <div class="search-group-wrapper justify-content-end">
    <div class="d-flex align-items-center search-bar">

      <button class="gf-toggle-circle search-group-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search search-icon">
          <path d="m21 21-4.34-4.34" />
          <circle cx="11" cy="11" r="8" />
        </svg>
      </button>

      <input type="text" class="search-input" id="" placeholder="Search for group">

    </div>
  </div>

</div>

<!-- Group Listing -->

<div class="d-flex flex-column group-list-wrapper">

  <div class="gf-card-group-listing d-flex">

    <div class="group-image">
      <img src="assets/images/placeholder_profile_pic.png" class="group-image">
    </div>

    <div class="d-flex flex-column group-info-and-stats">
      <div class="group-name-stats d-flex align-items-center">
        <span class="group-name">Nome do Grupo</span>
        <div class="gf-toggle-circle group-count"><span class="group-member-count-text">99 Members</span></div>
        <div class="gf-toggle-circle group-count"><span class="group-member-count-text">99 Posts</span></div>
      </div>

      <p class="group-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sit quas reiciendis distinctio quaerat a ab maxime, alias ullam, libero dolore commodi ducimus harum eligendi quisquam ut deserunt facere. Aspernatur!</p>
    </div>

  </div>

  <!-- gaps horizontais: group-name-stats -->

</div>
